.galeria_fotos{
	width: 20%;
	position: relative;
	float: left;
	
	padding: 10px;
}
.holder_popup{
	position: fixed;
	height: 100vh;
	top: 0px;
	left: 100%;
	width: 100%;
	z-index: 2;
}
.holder_popup_ativo{
	left:0px;
}
.fundo_negro{
	background-color: rgba(0, 0, 0, 0.8);
	height: 100vh;
	width:100%;
}
.holder_imagem_popup{
	position: absolute;
	top: 0px;
	left: 0px;
}

.holder_voltar{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-top: 15px;
	position: relative;
	top: 40px;
	left: 20px;
	color:white;
}

.holder_voltar div:nth-child(2){
    padding-left: 15px;
    font-family: 'azo_sanslight';
    font-size: 20px;
}

.holder_imagem{
	margin-top: 150px;
	display: flex;
	align-items: center;
	
}
.cursor{
	cursor: pointer;
}

.holder_botoes_paginacao{
	padding-top: 15px;
	padding-bottom: 30px;
}
.anterior{
	display: flex;
	align-items: center;
	flex-direction: row;
	font-family: 'azo_sanslight';
	font-size: 14px;
	color:white;
	justify-content: flex-start;

}
.anterior div , .seguinte div{
	padding: 0px 5px;
}

.seguinte{
	display: flex;
	align-items: center;
	flex-direction: row;
	font-family: 'azo_sanslight';
	font-size: 14px;
	color:white;
	justify-content: flex-end;
}

.anterior_home{
	display: flex;
	align-items: center;
	flex-direction: row;
	font-family: 'azo_sanslight';
	font-size: 14px;
	color:black;
	justify-content: flex-start;

}
.anterior_home div , .seguinte_home div{
	padding: 0px 5px;
}

.seguinte_home{
	display: flex;
	align-items: center;
	flex-direction: row;
	font-family: 'azo_sanslight';
	font-size: 14px;
	color:black;
	justify-content: flex-end;
}

.titulo_post span , .texto_post span{
	color:#DF2126;
}

p b{
	font-size:19px;
}

.holder_password{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	z-index: 10;
}

.afirmativo{
	display: none;
}

.holder_password_fundo{
	position: relative;
	background-color: rgba(0, 0, 0, 0.95);
	height: 100vh;

}
.holder_password_password{
	position: absolute;
	top: 0px;
	background-color: white;
	border-radius: 10px;
	height: 300px;
	top: 50%;
	margin-top: -150px;
	display: flex;	
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.password_frase{
	font-family: 'azo_sansbold';
	font-size: 19px;
	margin-bottom: 10px;
	text-align: center;
}
body{
	/*position: fixed;
	top: 0px;
	left: 0px;*/
}
.passerror{
	font-family: 'azo_sansbold';
	font-size: 12px;
	color:#DF2126;
	margin-top: 20px;
	opacity: 0;
}
.errorpass{
	opacity: 1;
}

#pass_form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@font-face {
    font-family: 'brandon_grotesqueblack';
    src: url('brandongrotesque-black-webfont.eot');
    src: url('brandongrotesque-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandongrotesque-black-webfont.woff2') format('woff2'),
         url('brandongrotesque-black-webfont.woff') format('woff'),
         url('brandongrotesque-black-webfont.ttf') format('truetype'),
         url('brandongrotesque-black-webfont.svg#brandon_grotesqueblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('brandongrotesque-bold-webfont.eot');
    src: url('brandongrotesque-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandongrotesque-bold-webfont.woff2') format('woff2'),
         url('brandongrotesque-bold-webfont.woff') format('woff'),
         url('brandongrotesque-bold-webfont.ttf') format('truetype'),
         url('brandongrotesque-bold-webfont.svg#brandon_grotesquebold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_grotesquebold_italic';
    src: url('brandongrotesque-bolditalic-webfont.eot');
    src: url('brandongrotesque-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandongrotesque-bolditalic-webfont.woff2') format('woff2'),
         url('brandongrotesque-bolditalic-webfont.woff') format('woff'),
         url('brandongrotesque-bolditalic-webfont.ttf') format('truetype'),
         url('brandongrotesque-bolditalic-webfont.svg#brandon_grotesquebold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesquelight';
    src: url('brandongrotesque-light-webfont.eot');
    src: url('brandongrotesque-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandongrotesque-light-webfont.woff2') format('woff2'),
         url('brandongrotesque-light-webfont.woff') format('woff'),
         url('brandongrotesque-light-webfont.ttf') format('truetype'),
         url('brandongrotesque-light-webfont.svg#brandon_grotesquelight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('myriadpro-webfont.eot');
    src: url('myriadpro-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-webfont.woff') format('woff'),
         url('myriadpro-webfont.ttf') format('truetype'),
         url('myriadpro-webfont.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

[ng-cloak]
{
  display: none !important;
}

.pd0{
	padding: 0px;
}

body{
	margin: 0px;
	padding: 0px;
	
}

.background{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../img/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-color: #FFFFFF;
}

.orange{
	color: #f49d41 !important;
	text-decoration: none !important;
}
a{
	text-decoration: none;
}

.container_website{
	padding: 0px;
}

.holder_view{
	padding: 0px;
}

.menu_holder{
	padding:0px;
	
	/*height: 98px;*/
	
	position: relative;
	z-index: 1;
}

.logo_holder{
	position: absolute;
	float: left;
	    height: 65px;
    left: 40px;
    top: 40px;
}

.button.submit_class {
    border: none;
    color: #FFFFFF;
    font-family: 'azo_sansmedium';
    font-size: 15px;
}

.menu_items_holder{
	position: relative;
	float: right;
	height: 98px;
	margin-right: 20px;
}

.menu_item{
	position: relative;
	float: left;
	height: 98px;
	margin-left: 30px;
}

.menu_item a{
	text-decoration: none;
}

.menu_item p{
	vertical-align: middle;
	display: table-cell;
	height: 98px;
	font: 17px 'brandon_grotesquebold';
	text-transform: uppercase;
	color:#58585a;
}

.menu_item_sel_bar{
	position: absolute;
	height: 4px;
	background: #f49d41;
	width: 0px;	
	top: 50%;
	margin-top: 10px;
	left:0px;
	
}
.menu_item_sel_bar_active{
	-webkit-transition: transform ease-out 0.2s, width ease-out 0.2s;
	-moz-transition: transform ease-out 0.2s, width ease-out 0.2s;
	-ms-transition: transform ease-out 0.2s, width ease-out 0.2s;
	-o-transition: transform ease-out 0.2s, width ease-out 0.2s;
	transition: transform ease-out 0.2s, width ease-out 0.2s;	
}

.footer_holder{
	overflow: hidden;
	padding: 0px;
	
	background-size: 100% 10px;
	margin-top: 95px;
}

.stripes_back_footer_holder{
	position: absolute;
	float: left;
	top: 0px;
	left:0px;
	width: 100%;
	height: 100%;
}

.stripes_back_footer{
	position: relative;
	float: left;
	width: 100%;
	height: 3px;
	border-radius: 10px;
	background-image:linear-gradient(to right,#e83e39 0%,#fff23a 100%);
	margin-bottom: 3px;
	opacity: 0.7;
}

.logo_footer{
	position: relative;
	float: left;
}

.texto_footer{
	position: relative;
	float: left;
	margin-top: 100px;
	clear: left;
}

.texto_footer p{
	color:#e4e4e4;
	font: 17px 'brandon_grotesquebold';
	text-transform: uppercase;
	margin: 0px;
}

.redes_footer{
	position: relative;
	float: left;
	clear: left;
	margin-top: 45px;
}

.item_rede_footer{
	position: relative;
	float: left;
	margin-right: 10px;
}

.holder_conteudo{
	position: relative;
	float: left;
	width:1080px;
	left:50%;
	margin-left: -540px;
	/*margin-top: 120px;*/
}
.galeria_holder{
	font:40px 'azo_sanslight';
	color: #000000;
	margin-bottom: 40px;
}

.footer_holder .holder_conteudo{
	margin-top: 0px;
}

.footer_cinzas_holder{
	position: absolute;
	right: 0px;
	height:100%;
}

.cinza_back_footer1{
	padding: 20px;
	font:27px 'brandon_grotesquebold';
	color:#6b6b6b;
}

.cinza_back_footer2{
	padding: 20px;
}

.cinza_back_footer{
	background: #e4e4e4;
	position: absolute;
	height: 50%;
}

.cinza_back_footer_helper{
	background: #e4e4e4;
	position: absolute;
	height: 50%;
	right: 0px;
	top:0px;
	width: 35%;
}

.text_newsletter{
	font:24px 'brandon_grotesquebold';
	color:#6b6b6b;
	text-transform: uppercase;
	border-bottom: 1px solid #cdcdcd;
	padding: 0px;
}
 
.linha_back_posts{
	position: absolute;
	top: 0px;
	height: 100%;
	width: 1px;
	left:50%;
	margin-left: -1px;
	background: url('../img/linha_back.png');
}

.form_newsletter{
	font:15px 'brandon_grotesquebold';
	color:#6b6b6b;
	text-transform: uppercase;
	/*position: absolute;
	bottom:0px;*/
	margin-top: 20px;
	padding: 0px;
}

.form_newsletter input{
	height: 44px;
	background: #FFFFFF;
	border-radius: 5px;
	border: none;
	width: 100%; 
	color:#7f7f7f;
	font: 15px 'brandon_grotesquebold';
	text-transform: uppercase;
	padding: 10px;
}

/*POST*/
.holder_post{
	padding: 0px;
	margin-top: 30px;
}

.icon_tag_media{
	position: relative;
	float: left;
	padding: 15px;
	border-radius: 100%;
	background: #FFFFFF;
	left:50%;
	margin-left: -28px;
	margin-top: 60px;
	margin-bottom: 30px;
}

.holder_post_content{
	background: #FFFFFF;
	border-radius: 5px;
	padding: 0px;
	-webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.30);
-moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.30);
box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.30);
}

.data_post{
	padding: 10px;
	color:#f49d41;
	font: 15px 'brandon_grotesquebold';
}

.data_post img{
	margin-top: -5px;
	margin-right: 10px;
}

.content_post{
	padding: 0px;
}

.video_holder{
	padding: 0px;
}

.template1 .titulo_post,.template3 .titulo_post,.template2 .titulo_post{
	font:40px 'azo_sanslight';
	color: #58585a;
	text-transform: uppercase;
	margin:0px;
	line-height: 100%;
}

.template1 .subtitulo_post,.template3 .subtitulo_post,.template2 .subtitulo_post{
	font:22px 'azo_sanslight';
	color: #58585a;
	text-transform: uppercase;
	margin:0px;
	line-height: 100%;
}

.texto_post{
	font:15px 'MyriadProRegular';
	color: #58585a;
	white-space: pre-line;
}

.footer_post{
	margin-top: 10px;
	padding: 10px;
}
.line_grey{
	padding: 0px;
	height: 2px;
	background: #e4e4e4;
}
.tags_footer{
	padding: 0px;
	margin-top: 10px;
}
.tags_footer p{
	margin: 0px;
	font:12px 'brandon_grotesquebold_italic';
	text-transform: uppercase;
	color:#b0b0b0;
}
.tags_footer p span{
	font:12px 'brandon_grotesqueblack';
	color:#666666;
}

.share_footer{
	padding: 0px;
	margin-top: 10px;
}
.share_footer p{
	margin: 0px;
	font:12px 'brandon_grotesquebold_italic';
	text-transform: uppercase;
	color:#b0b0b0;
	text-align: right;
}
.share_footer p span{
	font:12px 'brandon_grotesqueblack';
	color:#666666;
}
.share_footer img{
	margin-top: -5px;
	margin-left: 5px;
}
.share_footer a{
	text-decoration: none;
}

.button_resources{
	background-color: #f39c49;
	padding: 15px;
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: 15px;
}

.icon_button_resorce{
	position: relative;
	float: left;
	width: 49px;
	height: 40px;
	background-position: center center;
	background-repeat: no-repeat;

}

.icon_resource_som{
	background-image: url('../img/icon_som.svg');
	background-size: 49px 27px;
}
.icon_resource_file{
	background-image: url('../img/icon_download.svg');
	background-size: 49px 40px;
}

.texto_resource{
	height: 40px;
	position: relative;
	float: left;
	margin-left: 20px;
}

.texto_resource p{
	vertical-align: middle;
	display: table-cell;
	height: 40px;
	font:bold 16px 'MyriadProRegular';
	text-transform: uppercase;
	color:#FFFFFF;
}

.arrow_down{
	width: 0;
   height: 0;
   border-top: 24px solid #f7f7f7;
   border-left: 12px solid transparent;
   border-right: 12px solid transparent;
   margin: auto;	
   position: relative;
   float: right;
   margin-top: 8px;
}

.arrow_right{
	width: 0;
   height: 0;
   border-top: 12px solid transparent;
   border-left: 24px solid #f7f7f7;
   border-bottom: 12px solid transparent;
   margin: auto;	
   position: relative;
   float: right;
   margin-top: 8px;
}

.square{
	position: relative;
	float: right;
	margin-top:8px;
	width: 24px;
	height: 24px;
	background: #FFFFFF;
}


.seta_esq_carrossel{
	position: absolute;
	left:20px;
	top:50%;
	width: 45px;
	height: 45px;
	background-color: #f08b46;
	/*background-image: url('../img/seta_white_left.svg');*/
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 100%;
	cursor: pointer;
	margin-top: -22px;

	-webkit-transition:background-color ease-out 0.2s, transform ease-out 0.2s;
	-moz-transition:background-color ease-out 0.2s, transform ease-out 0.2s;
	-ms-transition:background-color ease-out 0.2s, transform ease-out 0.2s;
	-o-transition:background-color ease-out 0.2s, transform ease-out 0.2s;
	transition:background-color ease-out 0.2s, transform ease-out 0.2s;
	
}

.seta_esq_carrossel:hover{
	/*-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);*/
	background-color:#FFFFFF; 
}

.seta_dir_carrossel{
	position: absolute;
	right:20px;
	top:50%;
	width: 45px;
	height: 45px;
	background-color: #f08b46;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 100%;
	cursor: pointer;
	margin-top: -22px;

	-webkit-transition:background-color ease-out 0.2s, transform ease-out 0.2s;
	-moz-transition:background-color ease-out 0.2s, transform ease-out 0.2s;
	-ms-transition:background-color ease-out 0.2s, transform ease-out 0.2s;
	-o-transition:background-color ease-out 0.2s, transform ease-out 0.2s;
	transition: background-color ease-out 0.2s, transform ease-out 0.2s;
	
}

.seta_dir_carrossel:hover{
	/*-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);*/
	background-color:#FFFFFF;
}

.seta_holder_carrosel{
	position: relative;
	float: left;
	width: 11px;
	height: 21px;
	left:50%;
	margin-left: -5px;
	top: 50%;
	margin-top: -11px;
}

.item_seta_carrosel{
	position: absolute;
	width: 14px;
	height: 2px;
	background: #FFFFFF;
	-webkit-transition: background ease-out 0.2s;
	-moz-transition: background ease-out 0.2s;
	-ms-transition: background ease-out 0.2s;
	-o-transition: background ease-out 0.2s;
	transition: background ease-out 0.2s;
	
}
.seta_esq_carrossel:hover .item_seta_carrosel,.seta_dir_carrossel:hover .item_seta_carrosel{
	background: #f08b46;
}

.item_seta_carrosel1{
	top: 0px;
}
.item_seta_carrosel2{
	bottom: 0px;
}

.seta_esq_carrossel .seta_holder_carrosel{
	margin-left: -7px;
}
.seta_dir_carrossel .seta_holder_carrosel{
	margin-left: -4px;
}

.seta_esq_carrossel .item_seta_carrosel1{
	right: 0px;
	-webkit-transform: rotateX(-45deg);
	-moz-transform: rotateX(-45deg);
	-ms-transform: rotateX(-45deg);
	-o-transform: rotateX(-45deg);
	transform: rotateZ(-45deg);

	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
.seta_esq_carrossel .item_seta_carrosel2{
	right: 0px;
	-webkit-transform: rotateX(45deg);
	-moz-transform: rotateX(45deg);
	-ms-transform: rotateX(45deg);
	-o-transform: rotateX(45deg);
	transform: rotateZ(45deg);

	-webkit-transform-origin: 100% 0%;
	-moz-transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	-o-transform-origin: 100% 0%;
	transform-origin: 100% 0%;
}

.seta_dir_carrossel .item_seta_carrosel1{
	left: 0px;
	-webkit-transform: rotateX(45deg);
	-moz-transform: rotateX(45deg);
	-ms-transform: rotateX(45deg);
	-o-transform: rotateX(45deg);
	transform: rotateZ(45deg);

	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin: 0% 100%;
}
.seta_dir_carrossel .item_seta_carrosel2{
	left: 0px;
	-webkit-transform: rotateX(-45deg);
	-moz-transform: rotateX(-45deg);
	-ms-transform: rotateX(-45deg);
	-o-transform: rotateX(-45deg);
	transform: rotateZ(-45deg);

	-webkit-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
}



.template4 .img_holder_template4{
	padding: 0px;
}

.template4 .titulo_post{
	font:14px 'azo_sanslight';
	color: #58585a;
	text-transform: uppercase;
	margin:0px;
	line-height: 100%;
}

.template4 .subtitulo_post{
	font:15px 'azo_sanslight';
	color: #58585a;
	margin:0px;
	margin-top: 10px;
	line-height: 100%;
}

.get_more_button{
	position: relative;
	float: left;
	left:50%;
	width: 76px;
	height: 76px;
	margin-left: -38px;
	background: black;
	border-radius: 100%;
	margin-top: 30px;
	padding: 15px;
	cursor:pointer;

	-webkit-transition: background ease-out 0.2s;
	-moz-transition: background ease-out 0.2s;
	-ms-transition: background ease-out 0.2s;
	-o-transition: background ease-out 0.2s;
	transition: background ease-out 0.2s;
	
}
.get_more_button:hover{
	background: black;
}

.get_more_button .loading_button{
	display: none;
}

.get_more_button_loading{
	background: black;
}

.get_more_button_loading .loading_button{
	display: block;

}
.get_more_button_loading .normal_button{
	display: none;
}


.get_more_button p{
	text-align: center;
	margin: 0px;
	color:white;
	font: 10px 'brandon_grotesquebold';
	text-transform: uppercase;

	-webkit-transition: color ease-out 0.2s;
	-moz-transition: color ease-out 0.2s;
	-ms-transition: color ease-out 0.2s;
	-o-transition: color ease-out 0.2s;
	transition: color ease-out 0.2s;
}

.get_more_button:hover p{
	color:#DF2126;
}

.seta_get_more{
	position: relative;
	float: left;
	width: 20px;
	height: 25px;
	overflow: hidden;
	left:50%;
	margin-left: -10px;
	margin-top: 5px;
}

.get_more_button:hover .seta_get_more{
	-webkit-animation-name: move_seta;
	-moz-animation-name: move_seta;
	-ms-animation-name: move_seta;
	-o-animation-name: move_seta;
	animation-name: move_seta;

	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;

	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.item_seta_get_more{
   position: absolute;
   float: left;
	background: white;

	-webkit-transition: background ease-out 0.2s;
	-moz-transition: background ease-out 0.2s;
	-ms-transition: background ease-out 0.2s;
	-o-transition: background ease-out 0.2s;
	transition: background ease-out 0.2s;
}



.get_more_button:hover .item_seta_get_more{
	background: #DF2126;
}


@keyframes move_seta {
    0%   {
    	-webkit-transform: translateY(0px);
    	-moz-transform: translateY(0px);
    	-ms-transform: translateY(0px);
    	-o-transform: translateY(0px);
    	transform: translateY(0px);
    }
    50%{
    	-webkit-transform: translateY(10px);
    	-moz-transform: translateY(10px);
    	-ms-transform: translateY(10px);
    	-o-transform: translateY(10px);
    	transform: translateY(10px);
    }
    100%{
    	-webkit-transform: translateY(0px);
    	-moz-transform: translateY(0px);
    	-ms-transform: translateY(0px);
    	-o-transform: translateY(0px);
    	transform: translateY(0px);
    }
}

.item_seta_get_more1{
	height: 23px;
	width: 2px;
	left: 50%;
	margin-left: -1px;
}

.item_seta_get_more2{
	height: 12px;
	width: 2px;
	left: 50%;
	margin-left: -1px;
	margin-top: 10px;

	-webkit-transform: rotateX(-45deg);
	-moz-transform: rotateX(-45deg);
	-ms-transform: rotateX(-45deg);
	-o-transform: rotateX(-45deg);
	transform: rotateZ(-45deg);

	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
    
}

.item_seta_get_more3{
	height: 12px;
	width: 2px;
	left: 50%;
	margin-left: -1px;
	margin-top: 10px;

	-webkit-transform: rotateX(45deg);
	-moz-transform: rotateX(45deg);
	-ms-transform: rotateX(45deg);
	-o-transform: rotateX(45deg);
	transform: rotateZ(45deg);

	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;   
}

.circle_wait{
	position: relative;
	float: left;
	width: 30px;
	height: 30px;
	overflow: hidden;
	left:50%;
	margin-left: -15px;
	top: 50%;
	margin-top:-15px;
}

.item_circle_wait{
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	border-top: 2px solid black;
	border-bottom: 2px solid #FFFFFF;
	/*border-right: 2px solid #f08b46;*/
	border-left: 2px solid #FFFFFF;

	
}

.get_more_button_loading .item_circle_wait{
	-webkit-animation-name: rotate_loading;
	-moz-animation-name: rotate_loading;
	-ms-animation-name: rotate_loading;
	-o-animation-name: rotate_loading;
	animation-name: rotate_loading;

	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;

	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

	-webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
    animation-timing-function: linear;
}

@keyframes rotate_loading {
    0%   {
    	-webkit-transform: rotateZ(0deg);
    	-moz-transform: translateY(0px);
    	-ms-transform: translateY(0px);
    	-o-transform: translateY(0px);
    	transform: rotateZ(0deg) scale(1,1);

    	
    }
    /*50%{
    	transform: rotateZ(180deg) scale(0.1,0.1);
    }*/
    100%{
    	-webkit-transform: translateY(0px);
    	-moz-transform: translateY(0px);
    	-ms-transform: translateY(0px);
    	-o-transform: translateY(0px);
    	transform: rotateZ(360deg) scale(1,1);
    	
    }
}


.icon_open_menu_mobile{
	display: none;
}
.back_menu_mobile{
	display: none;
}


/*AREA ASK*/
.text_ask{
	color: #f49d41;
	font: 36px 'brandon_grotesquelight';
	text-transform: uppercase;
	line-height: 120%;
}

.item_form{
	margin-bottom:16px; 
	padding: 0px 8px;
}

.item_form input, select, textarea{
	height: 44px;
	background: #FFFFFF;
	border-radius: 5px;
	border: none;
	width: 100%; 
	color:#7f7f7f;
	font: 15px 'brandon_grotesquebold';
	text-transform: uppercase;
	padding: 10px;
}

.msg_feedback{
	font:12px arial;
	color: #7f7f7f;
}

/*AREA SOCIAL*/
.rede_holder{
	margin-bottom: 40px;
	text-align: center;
}

.rede_holder img{
	display: inline;
}

.line_rede{
	position: relative;
	float: left;
	width: 100%;
	height: 2px;
	background: #e88652;
	margin-top: 5px; 
	margin-bottom: 5px;
}

.rede_holder p{
	color:#e88652;
	font:14px 'brandon_grotesquelight';
	text-transform: uppercase; 
}

/*Africa Business*/
.text_africa {
	font-size: 28px;
	font-family: "brandon_grotesquebold";
	color: #f49d41;
	text-align: justify;

}
.img_africa{
	padding-top: 100px;
	text-align: center;
}
.text_africa_form{
	font-size: 36px;
	font-family: "brandon_grotesquelight";
	color: #f49d41;
	text-align: left;

}
.formulario{
	padding-top: 50px;
}
.msg_feedbackz{
	font:12px arial;
	color: #f49d41;
}

/*Form Home*/

.imagem-evo{
	padding-top: 65px;
	padding-left: 60px;
}
.text_claim{
	font-size: 33px;
	color: rgb(81, 81, 81);
	font-family: brandon_grotesquelight;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0px;
	margin-bottom: -10px;
}
.text_evo{
	font-size: 35px;
	font-family: brandon_grotesquelight ;
	color: #f49d41;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 11px;

}


.evo_item_form{
	padding:8px 8px;

}
.evo_item_form input{
	height: 44px;
	background: #e4e4e4;
	border-radius: 5px;
	border: none;
	width: 100%;
	color:#7f7f7f;
	font: 15px 'brandon_grotesquebold';
	text-transform: uppercase;
	padding: 10px;
}

@media screen and (max-width:1200px) {
    .holder_conteudo{
		width:880px;
		margin-left: -440px;
	}
	.cinza_back_footer1{
		font-size:22px;
	} 
}

@media screen and (max-width:992px) {
	.galeria_fotos{
		width: 33.3333333%;
	}

    .holder_conteudo{
		width:90%;
		left:5%;
		margin-left: 0px;
	}

	.cinza_back_footer_helper{
		height: 100%;
		width: 35%;
	}

	.cinza_back_footer{
		height: 100% !important;
	}

	.form_newsletter{
		position: relative;
		bottom:0px;
		margin-top: 20px;
	}

	.ask_content_left{
		padding: 0px;
	}
	.ask_content_right{
		padding: 0px;
	}
	.item_form{
		padding: 0px;
	}

	.share_footer p {
   	text-align: left;
	}

}


@media screen and (max-width:768px) {
	.galeria_fotos{
		width: 50%;
	}
    .holder_conteudo{
		width:100%;
		margin-left: 0px;
		left:0px;
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 58px;
	}
	.footer_left_side{
		padding: 20px;
	}
	.footer_cinzas_holder{
		position: relative;
		right: inherit;
		height:auto;
		padding:0px; 
	}
	.cinza_back_footer{
		background: #e4e4e4;
		position: relative;
		height: auto;
	}
	.cinza_back_footer_helper{
		display: none;
	}

	.template1 .titulo_post,.template3 .titulo_post,.template2 .titulo_post{
		font:28px 'azo_sanslight';
		line-height: 100%;
	}

	.template1 .subtitulo_post,.template3 .subtitulo_post,.template2 .subtitulo_post{
		font:18px 'azo_sanslight';
		line-height: 100%;
	}

	/*MENU*/
	.menu_holder{
		height: 58px;
	}
	.logo_holder{
		height: 65px;
		left: 40px;
		top: 40px;
	}
	
	

	.icon_open_menu_mobile{
		position: relative;
		float: right;
		width: auto;
		height: auto;
		display: block;
		margin-right: 20px;
		cursor: pointer;
		padding:2px 4px;
		margin-top: 17px;
		border:0px solid #58585a;
		border-radius: 3px;
	}

	.icon_open_menu_mobile:active{
		background: #DDDDDD;
	}
	

	.item_icon_menu_mobile{
		position: relative;
		float: left;
		width: 20px;
		height: 2px;
		margin-top: 2px;
		margin-bottom: 2px;
		background: #58585a;
		clear: left;
		left:0px;

		-webkit-transition: transform ease-out 0.2s, width ease-out 0.2s, opacity ease-out 0.2s;
		-moz-transition: transform ease-out 0.2s, width ease-out 0.2s, opacity ease-out 0.2s;
		-ms-transition: transform ease-out 0.2s, width ease-out 0.2s, opacity ease-out 0.2s;
		-o-transition: transform ease-out 0.2s, width ease-out 0.2s, opacity ease-out 0.2s;
		transition: transform ease-out 0.2s, width ease-out 0.2s, opacity ease-out 0.2s;
		
	}
	.item_icon_menu_mobile1{
		-webkit-transform-origin:0% 0%;
		-moz-transform-origin:0% 0%;
		-ms-transform-origin:0% 0%;
		-o-transform-origin:0% 0%;
		transform-origin: 0% 0%;
	}
	.icon_open_menu_mobile_open .item_icon_menu_mobile1{
		
		-webkit-transform:translateX(4px) rotateZ(45deg);
		-moz-transform:translateX(4px) rotateZ(45deg);
		-ms-transform:translateX(4px) rotateZ(45deg);
		-o-transform:translateX(4px) rotateZ(45deg);
		transform:translateX(4px) rotateZ(45deg);
		width: 18px;
		
	}

	.icon_open_menu_mobile_open .item_icon_menu_mobile2{
		opacity: 0;
	}
	.item_icon_menu_mobile3{
		-webkit-transform-origin: 0% 100%;
		-moz-transform-origin: 0% 100%;
		-ms-transform-origin: 0% 100%;
		-o-transform-origin: 0% 100%;
		transform-origin: 0% 100%;
	}
	.icon_open_menu_mobile_open .item_icon_menu_mobile3{
		
		-webkit-transform:translateX(4px) rotateZ(-45deg);
		-moz-transform:translateX(4px) rotateZ(-45deg);
		-ms-transform:translateX(4px) rotateZ(-45deg);
		-o-transform:translateX(4px) rotateZ(-45deg);
		transform:translateX(4px) rotateZ(-45deg) ;
		width: 18px;
	}
	.menu_holder{
		
	}

	.menu_items_holder{
		position: absolute;
		top: 100%;
		width: 100%;
		background-color: #f6f6f6;
		height: 0px;
		overflow: hidden;

		background-image: url('../img/mapa_menu.png');
		background-repeat: no-repeat;
		background-position: 100% -58px;
		-webkit-transition: height ease-out 0.2s;
		-moz-transition: height ease-out 0.2s;
		-ms-transition: height ease-out 0.2s;
		-o-transition: height ease-out 0.2s;
		transition: height ease-out 0.2s;
		
	}

	.menu_item{
		width: 100%;
	}
	.menu_item{
		position: relative;
		float: left;
		height: auto;
		margin-left: 0px;
	}

	.menu_item p{
		height: auto;
		text-align: center;
		width: 100%;
		vertical-align: inherit;
		display: block;
		margin: 10px 0px
	}

	.menu_item_sel p{
		color:#f08b46;
	}

	.menu_item_sel_bar{
		display: none;
	}

	.menu_holder_open{
		height: 267px;
	}

	.back_menu_mobile{
		display: block;
		visibility: hidden;
		position: fixed;
		width: 100%;
		height: 100%;
		left:0px;
		top: 0px;
		background: #000000;
		opacity: 0;
		z-index: 1;
		-webkit-transition: opacity ease-out 0.2s;
		-moz-transition: opacity ease-out 0.2s;
		-ms-transition: opacity ease-out 0.2s;
		-o-transition: opacity ease-out 0.2s;
		transition: opacity ease-out 0.2s, visibility ease-out 0.2s;
		
	}
	.back_menu_mobile_open{
		visibility: visible;
		opacity: 0.6;
	}
	.ask_content_right{
		padding: 20px;
		padding-top: 0px;
	}
	.ask_content_left{
		padding: 20px;
		padding-top: 0px;
		margin-top: -40px !important;
	}
	.item_form{
		padding: 0px;
	}

	
	.form_newsletter{
		position: relative;
		bottom:0px;
	margin-top: 20px;
	}
	.holder_imagem{
		display: block;
	}
}



@media screen and (max-width:980px) {
	
	/*MENU*/
	.menu_holder{
		height: 58px;
	}
	.logo_holder{
		   height: 65px;
    left: 40px;
    top: 40px;
	}
	
	.button{
		padding:5px 20px;
	}

	.icon_open_menu_mobile{
		position: relative;
		float: right;
		width: auto;
		height: auto;
		display: block;
		margin-right: 20px;
		cursor: pointer;
		padding:2px 4px;
		margin-top: 17px;
		border:0px solid #58585a;
		border-radius: 3px;
	}

	.icon_open_menu_mobile:active{
		background: #DDDDDD;
	}
	

	.item_icon_menu_mobile{
		position: relative;
		float: left;
		width: 20px;
		height: 2px;
		margin-top: 2px;
		margin-bottom: 2px;
		background: #58585a;
		clear: left;
		left:0px;

		-webkit-transition: transform ease-out 0.2s, width ease-out 0.2s, opacity ease-out 0.2s;
		-moz-transition: transform ease-out 0.2s, width ease-out 0.2s, opacity ease-out 0.2s;
		-ms-transition: transform ease-out 0.2s, width ease-out 0.2s, opacity ease-out 0.2s;
		-o-transition: transform ease-out 0.2s, width ease-out 0.2s, opacity ease-out 0.2s;
		transition: transform ease-out 0.2s, width ease-out 0.2s, opacity ease-out 0.2s;
		
	}
	.item_icon_menu_mobile1{
		-webkit-transform-origin:0% 0%;
		-moz-transform-origin:0% 0%;
		-ms-transform-origin:0% 0%;
		-o-transform-origin:0% 0%;
		transform-origin: 0% 0%;
	}
	.icon_open_menu_mobile_open .item_icon_menu_mobile1{
		
		-webkit-transform:translateX(4px) rotateZ(45deg);
		-moz-transform:translateX(4px) rotateZ(45deg);
		-ms-transform:translateX(4px) rotateZ(45deg);
		-o-transform:translateX(4px) rotateZ(45deg);
		transform:translateX(4px) rotateZ(45deg);
		width: 18px;
		
	}

	.icon_open_menu_mobile_open .item_icon_menu_mobile2{
		opacity: 0;
	}
	.item_icon_menu_mobile3{
		-webkit-transform-origin: 0% 100%;
		-moz-transform-origin: 0% 100%;
		-ms-transform-origin: 0% 100%;
		-o-transform-origin: 0% 100%;
		transform-origin: 0% 100%;
	}
	.icon_open_menu_mobile_open .item_icon_menu_mobile3{
		
		-webkit-transform:translateX(4px) rotateZ(-45deg);
		-moz-transform:translateX(4px) rotateZ(-45deg);
		-ms-transform:translateX(4px) rotateZ(-45deg);
		-o-transform:translateX(4px) rotateZ(-45deg);
		transform:translateX(4px) rotateZ(-45deg) ;
		width: 18px;
	}
	.menu_holder{
		/*background-image: url('../img/mapa_menu.png');*/
	}

	.menu_items_holder{
		position: absolute;
		top: 100%;
		width: 100%;
		background-color: #f6f6f6;
		height: 0px;
		overflow: hidden;

		background-image: url('../img/mapa_menu.png');
		background-repeat: no-repeat;
		background-position: 100% -58px;
		-webkit-transition: height ease-out 0.2s;
		-moz-transition: height ease-out 0.2s;
		-ms-transition: height ease-out 0.2s;
		-o-transition: height ease-out 0.2s;
		transition: height ease-out 0.2s;
		
	}

	.menu_item{
		width: 100%;
	}
	.menu_item{
		position: relative;
		float: left;
		height: auto;
		margin-left: 0px;
	}

	.menu_item p{
		height: auto;
		text-align: center;
		width: 100%;
		vertical-align: inherit;
		display: block;
		margin: 10px 0px
	}

	.menu_item_sel p{
		color:#f08b46;
	}

	.menu_item_sel_bar{
		display: none;
	}

	.menu_holder_open{
		height: 267px;
	}

	.back_menu_mobile{
		display: block;
		visibility: hidden;
		position: fixed;
		width: 100%;
		height: 100%;
		left:0px;
		top: 0px;
		background: #000000;
		opacity: 0;
		z-index: 1;
		-webkit-transition: opacity ease-out 0.2s;
		-moz-transition: opacity ease-out 0.2s;
		-ms-transition: opacity ease-out 0.2s;
		-o-transition: opacity ease-out 0.2s;
		transition: opacity ease-out 0.2s, visibility ease-out 0.2s;
		
	}
	.back_menu_mobile_open{
		visibility: visible;
		opacity: 0.6;
	}

	

}