.listagem_item{
	position: relative;
	opacity: 1;
	overflow: hidden;
	height: auto;
	border-top:1px solid #DDDDDD;
  /*transform: scale(1,1);
  -moz-transform: scale(1,1);*/
  top:0px;
  /*left:0px;*/
  background: #FFFFFF;
}

.back_grey{
	background: #EEEEEE;
}

.listagem_item.ng-enter,
.listagem_item.ng-leave,
.listagem_item.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.listagem_item.ng-enter,
.listagem_item.ng-move {
  opacity: 0;
  height: 0;
  /*left:-100%;*/
  overflow: hidden;
  /*transform: scale(2,3);
  -moz-transform: scale(2,3);*/
  top:-30px;
}

.listagem_item.ng-move.ng-move-active,
.listagem_item.ng-enter.ng-enter-active {
  opacity: 1;
  height: 51px;
   /* transform: scale(1,1);
    -moz-transform: scale(1,1);*/
  top:0px;
  /*left:0px;*/
}

.listagem_item.ng-leave {
  opacity: 1;
  height: 51px;
  overflow: hidden;
 /* transform: scale(1,1);
  -moz-transform: scale(1,1);*/
  top:0px;
  /*left:0px;*/
}

.listagem_item.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  /*transform: scale(0,0);
  -moz-transform: scale(0,0);*/
  top:30px;
  /*left:100%;*/
  /*padding-top: 0;
  padding-bottom: 0;*/
}

.button {
      display: inline-block;
      position: relative;
    }
    
    .button > paper-ripple {
      border-radius: 2px;
      overflow: hidden;
    }
