<div class="col-xs-12"  ng-init="init(area_selected_flag,0,0,0,0,area_selected_mode)" style="padding: 0px;overflow:hidden">
  
  <section class="content-header">
    <h1>
      {{area_selected_titulo}}
      <small>Listar</small>
    </h1>
  </section>
  <br />
  <div class="col-lg-12">
    <div class="alert alert-success alert-dismissable" ng-show="sucess_form==true">
      <button type="button" class="close" ng-click="changeFlag()">&times;</button>
      <strong>{{area_selected_titulo}}:</strong> operação feita com sucesso!
    </div>  
  </div>

  <div class="col-md-3 col-md-offset-9" style="margin-top:30px;margin-bottom:10px">
      <a ng-href="#/{{area_selected}}/inserir/">
      <button type="button" style="float:right" data-toggle="tooltip" data-placement="top" title="Inserir" class="col-xs-12 button raised btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Inserir Novo</button>
    </a>
  </div>
  
  <div class="col-xs-12" style="padding:0px;margin-top:20px;">
    <div class="col-md-4 col-sm-6" style="margin-bottom: 20px">
        <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        <input type="text" class="form-control" ng-change="search()" ng-model="keyword" placeholder="Search" id="keyword" name="keyword">
      </div>
    </div>
    
    <div class="col-md-4 col-sm-6" style="margin-bottom: 20px">
        <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-sort"></i></span>
        <select class="form-control" ng-model="orderList">
          <option value="id">ID</option>
          <option value="nome">Nome</option>
        </select>
      </div>
    </div>
    <div class="col-md-4 col-sm-6" style="margin-bottom: 20px">
        <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-sort"></i></span>
        <select class="form-control" ng-model="sentido">
          <option value="0" >Ascendente</option>
          <option value="1" >Descendente</option>
        </select>
      </div>
    </div>
    <div style="clear:left;"></div>
    <br/>
    <div style="clear:left;"></div>
    <div class="col-md-4 col-sm-6">
      <h4>{{total_items}} resultado(s)</h4>
    </div>

    <!-- PAGINACAO -->
    <div class="col-md-6 col-md-offset-2">
      <ul class="pagination" style="float:right;margin-top:0px;">
        <li ng-class="{disabled:page_actual == 1}" ng-click="setPage(page_actual-1)"><a class="button raised">&laquo;</a></li>
        <li ng-repeat="n in pages" ng-click="setPage(n)" ng-class="{active:page_actual == n}">
          <a class="button raised">{{n}} <span class="sr-only" ng-show="page_actual==n" >(current)</span></a>
        </li>
        <li ng-click="setPage(page_actual+1)" ng-class="{disabled:page_actual == total_pages}"><a class="button raised">&raquo;</a></li>
      </ul>
    </div>
  </div>
  
  
  <!-- LISTAGEM (NG-REPEAT) -->
  <div class="col-xs-12">
  <div class="box">
    <!-- <div class="box-header">
      <h3 class="box-title">Responsive Hover Table</h3>
      <div class="box-tools">
        <div class="input-group">
          <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
          <div class="input-group-btn">
            <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover table-striped">
        <tr class="label-primary">
          <th style="text-align:center">ID</th>
          <th style="text-align:center">Nome</th>
          
          <!-- <th style="text-align:center">Activo</th> -->
          <th style="text-align:center">Editar</th>
          <th style="text-align:center">Apagar</th>
        </tr>
        <tr ng-repeat="item in filtered = ( items | myFilter:keyword | orderBy:orderList:sentido) | limitTo: total_items_show | limitTo: total_items_show_negative">
          <td style="text-align:center">{{item.id}}</td>
          <td style="text-align:center">{{item.nome}}</td>
          

         <!--  <td style="text-align:center">
            <span class="small-box-footer btn-link cursor_pointer" ng-click="activar(item.id)">
              <span class="label label-success btn" ng-if="item.activo == 1"><i class="fa fa-check" style="width:18px"></i></span>
              <span class="label label-danger btn" ng-if="item.activo == 0"><i class="fa fa-times" style="width:18px"></i> </span> 
            </span>
          </td> -->

          <td style="text-align:center">
            <a ng-href="#/{{area_selected}}/editar/{{item.id}}" class="small-box-footer">
              <span class="small-box-footer btn-link cursor_pointer" >
                <span class="label label-primary btn"><i class="fa fa-pencil" style="width:18px;"></i></span>
              </span>
            </a>
          </td>

          <td style="text-align:center">
            <span class="small-box-footer btn-link cursor_pointer" ng-if="item.id >2 && item.id != 10">
              <span class="label label-primary btn" ng-click="remove_activar(item.id)"><i class="fa fa-trash" style="width:18px"></i></span>
            </span>
          </td>

        <!--   <td><span class="small-box-footer btn-link cursor_pointer"  ng-click="remove_activar(item.id)">Apagar <i class="fa fa-trash"></i></span></td> -->
        </tr>
      </table>
    </div>
  </div>
</div>


  


  

  <div style="clear:left"></div>

  <!-- PAGINACAO -->
  <div class="col-md-6 col-md-offset-6">
    <ul class="pagination" style="float:right;">
      <li ng-class="{disabled:page_actual == 1}" ng-click="setPage(page_actual-1)"><a class="button raised">&laquo;</a></li>
      <li ng-repeat="n in pages" ng-click="setPage(n)" ng-class="{active:page_actual == n}">
        <a class="button raised">{{n}} <span class="sr-only" ng-show="page_actual==n" >(current)</span></a>
      </li>
      <li ng-click="setPage(page_actual+1)" ng-class="{disabled:page_actual == total_pages}"><a class="button raised">&raquo;</a></li>
    </ul>
  </div>
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Apagar</h4>
      </div>
      <div class="modal-body">
        <p>Tem a certeza que deseja apagar!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="button raised btn btn-primary" ng-click="remove(item_remove)" data-dismiss="modal" data-loading-text="Apagando...">Sim<paper-ripple fit></paper-ripple></button> 
        <button type="button" ng-click="remove_voltar()" class="button raised btn btn-default">Não<paper-ripple fit></paper-ripple></button>
      </div>

    </div>
  </div>
</div>

