<!--Content-->
<div class="holder_conteudo">
    <!--linha cabeçalho-->
    <div class="col-xs-12" style="padding-top: 50px">
        <p class="text_africa">A FIVE THOUSAND MILES INVESTE NO DESENVOLVIMENTO INTERNACIONAL DE EMPRESAS EUROPEIAS,
            PARTICULARMENTE NA EXPANSÃO
            PARA ÁFRICA.
            COM ESCRITÓRIOS EM LISBOA E EM LAGOS (NIGÉRIA), TEMOS CAPACIDADE DE INVESTIMENTO E GERAMOS NEGÓCIO
            RELEVANTE
            PARA OS NOSSOS PARCEIROS.</p>
    </div>

    <!--linha imagem-->
    <div class="col-xs-12 img_africa">
        <img src="img/africa.png">
    </div>

    <!--linha formulario-->
    <div class="col-xs-12 formulario">
        <!--texto-->
        <div class="col-xs-12 col-md-6">
            <p class="text_africa_form">PARA RECEBER OPORTUNIDADES DE NEGÓCIO, POR FAVOR PREENCHA O SEGUINTE
                FORMULÁRIO:</p>

        </div>
        <!--formulario-->
        <div class="col-xs-12 col-md-6">
            <form name="africa_form" id="africa_form" novalidate>
                <div class="col-xs-12 col-md-6 item_form">
                    <input type="text" name="nome_input" id="nome_input" ng-model="form.nome"
                           placeholder="NOME*" required/>
                </div>
                <div class="col-xs-12 col-md-6 item_form">
                    <input type="text" name="apelido_input" id="apelido_input" ng-model="form.apelido"
                           placeholder="APELIDO*"/>
                </div>
                <div class="col-xs-12 col-md-6 item_form">
                    <input type="text" name="company_input" id="company_input" ng-model="form.company"
                           placeholder="EMPRESA*" required/>
                </div>
                <div class="col-xs-12 col-md-6 item_form">
                    <input type="text" name="cargo" id="cargo_input"
                           ng-model="form.cargo" placeholder="CARGO/POSIÇÃO*"
                           required/>
                </div>
                <div class="col-xs-12 col-md-6 item_form">
                    <input type="text" name="telefone" id="telefone_input"
                           ng-model="form.telefone" placeholder="TELEFONE/TELEMÓVEL"/>
                </div>
                <div class="col-xs-12 col-md-6 item_form">
                    <input type="text" name="email" id="email_input"
                           ng-model="form.email" placeholder="EMAIL*"
                           required/>
                </div>
                <div class="col-xs-12 item_form">
                    <div style="position: relative;float: left;">
                        <span class="msg_feedbackz" >(*) Campos de preenchimento obrigatório</span>

                        <span class="msg_feedback"
                              ng-if="submitted && form_sucess">Formulário submetido com sucesso</span>
                        <span class="msg_feedback"
                              ng-if="submitted && form_error">Formulário não enviado. Tente mais tarde</span>
                    </div>
                    <div class="seta_dir_carrossel"
                         style="position: relative;float: right;right: 0px;margin-top: 0px;top: 0px;"
                         ng-click="submit_form(africa_form)">
                        <div class="seta_holder_carrosel">
                            <div class="item_seta_carrosel item_seta_carrosel1"></div>
                            <div class="item_seta_carrosel item_seta_carrosel2"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
