<div class="col-xs-12 holder_view">

    <div class="holder_conteudo" style="padding-top: 90px;">
        <div class="col-xs-12 col-md-6 ask_content_left" style="margin-top: 20px;">
            <p class="text_ask">
                {{lang_array.texo_ask}}
            </p>
        </div>
        <div class="col-xs-12 col-md-6 ask_content_right" style="margin-top: 20px;">
            <form name="ask_form" id="ask_form" novalidate>
                <div class="col-xs-12 item_form">
                    <input type="text" name="name_input" id="name_input" ng-model="form.nome" required
                           placeholder="{{lang_array.nome_palavra}}(*)"/>
                </div>
                <div class="col-xs-12 col-md-6 item_form">
                    <input type="text" name="email_input" id="email_input" ng-model="form.email"
                           placeholder="{{lang_array.email_palavra}}(*)" required/>
                </div>
                <div class="col-xs-12 col-md-6 item_form">
                    <input type="text" name="phone_input" id="phone_input" ng-model="form.telefone"
                           placeholder="{{lang_array.telefone_palavra}}"/>
                </div>
                <div class="col-xs-12 col-md-6 item_form">
                    <input type="text" name="company_input" id="company_input" ng-model="form.company"
                           placeholder="{{lang_array.company_palavra}}(*)" required/>
                </div>
                <div class="col-xs-12 col-md-6 item_form">
                    <input type="text" name="professional_input" id="professional_input" ng-model="form.professional"
                           placeholder="{{lang_array.professional_frase}}(*)" required/>
                </div>
                <div class="col-xs-12 item_form">
                    <select name="assunto_input" id="assunto_input" ng-model="form.assunto" required>
                        <option value="">{{lang_array.comoajudar_frase}}(*)</option>
                        <option value="{{lang_array.option1form}}">{{lang_array.option1form}}</option>
                        <option value="{{lang_array.option2form}}">{{lang_array.option2form}}</option>
                        <option value="{{lang_array.option3form}}">{{lang_array.option3form}}</option>
                        <option value="{{lang_array.option4form}}">{{lang_array.option4form}}</option>
                        <option value="{{lang_array.option5form}}">{{lang_array.option5form}}</option>
                        <option value="{{lang_array.option6form}}">{{lang_array.option6form}}</option>
                        <option value="{{lang_array.option7form}}">{{lang_array.option7form}}</option>
                        <option value="{{lang_array.option8form}}">{{lang_array.option8form}}</option>
                        <option value="{{lang_array.option9form}}">{{lang_array.option9form}}</option>
                    </select>
                </div>
                <div class="col-xs-12 item_form">
                    <select name="who_input" id="who_input" ng-model="form.who" required>
                        <option value="">{{lang_array.quemevoce_frase}}(*)</option>
                        <option value="{{lang_array.option1formwho}}">{{lang_array.option1formwho}}</option>
                        <option value="{{lang_array.option2formwho}}">{{lang_array.option2formwho}}</option>
                    </select>
                </div>
                <div class="col-xs-12 item_form">
                    <select name="where_input" id="where_input" ng-model="form.where" required>
                        <option value="">{{lang_array.deonde_frase}}(*)</option>
                        <option value="{{pais.nome}}" ng-repeat="pais in paises">{{pais.nome}}</option>

                    </select>
                </div>
                <div class="col-xs-12 item_form">
                    <select name="howmuch_input" id="who_input" ng-model="form.howmuch" required>
                        <option value="">{{lang_array.budget_frase}}(*)</option>
                        <option value="500">500€ or less</option>
                        <option value="7500">7.500€</option>
                        <option value="15000">15.000€</option>
                        <option value="30000">30.000€</option>
                        <option value="60000">60.000€</option>
                        <option value="120000">120.000€</option>
                        <option value="200000">200.000€ or more</option>

                    </select>
                </div>


                <div class="col-xs-12 item_form">
                    <textarea name="msg_input" id="msg_input" ng-model="form.msg" required style="height:150px;"
                              placeholder="{{lang_array.askanything_frase}}(*)"></textarea>
                </div>

                <div class="col-xs-12 item_form">
                    <div style="position: relative;float: left;">
                        <span class="msg_feedback" ng-if="submitted && form_invalid">{{lang_array.camposobrigatorios_frase}}</span>
                        <span class="msg_feedback"
                              ng-if="submitted && form_sucess">{{lang_array.formenviado_frase}}</span>
                        <span class="msg_feedback" ng-if="submitted && form_error">{{lang_array.formerro_frase}}</span>
                    </div>
                    <div class="seta_dir_carrossel"
                         style="position: relative;float: right;right: 0px;margin-top: 0px;top: 0px;"
                         ng-click="submit_form(ask_form)">
                        <div class="seta_holder_carrosel">
                            <div class="item_seta_carrosel item_seta_carrosel1"></div>
                            <div class="item_seta_carrosel item_seta_carrosel2"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>