<div class="col-xs-12 pd0 text-center galeria_holder">
    GALERIA
</div>

<div class="col-xs-12 pd0" style="padding-right: 30px; padding-left: 30px;">
    <div class="galeria_fotos cursor" ng-repeat="foto in fotos " ng-click="abrirpopup($index)">
        <img ng-src="return_img.php?width=500&height=300&img=imagenspadrao/{{foto}}" alt="" width="100%">
    </div>
</div>

 <div class="col-xs-12 holder_botoes_paginacao" >
        <div class="col-xs-6 pd0 "> 
            <div class="col-xs-12 pdo anterior_home" ng-click="anteriorpagina()">
                <div><img src="img/anterior_home.svg" alt="" width="30"></div>
                <div>ANTERIOR</div>
            </div>
        </div>
         <div class="col-xs-6 pd0 ">
            <div class="col-xs-12 pdo seguinte_home" ng-click="seguintepagina()">
                <div>SEGUINTE</div>
                <div><img src="img/seguinte_home.svg" alt="" width="30"></div>
            </div>  
         </div>
</div>


<div class="col-xs-12 pd0 holder_popup" ng-class="{holder_popup_ativo: pop == 1}">
    <div class="fundo_negro"></div>
    <div class="col-xs-12 pd0 holder_imagem_popup">
        <div class="col-xs-12 holder_voltar" ng-click="pop = 0">
          <div><img src="img/setavoltar.svg" alt="" width="25"></div>
          <div >VOLTAR</div>
        </div>
        <div class="col-xs-12 pd0 holder_imagem hidden-xs">
            <div class="col-xs-3" ng-click="anterior(indexpop)">
                 <div class="col-xs-12 pdo anterior">
                    <div><img ng-src="img/anterior.svg" alt="" width="30"></div>
                    <div>ANTERIOR</div>
                </div>
            </div>
            <div class="col-xs-6">
               <img src="return_img.php?width=1080&height=720&img=imagenspadrao/{{fotos[indexpop]}}" alt="" width="100%">
            </div>
            <div class="col-xs-3">
                <div class="col-xs-12 pdo seguinte"  ng-click="seguinte(indexpop)">
                    <div>SEGUINTE</div>
                    <div><img src="img/seguinte.svg" alt="" width="30"></div>
                </div>  
            </div>
        </div>

        <div class="col-xs-12 pd0 holder_imagem visible-xs">
           
            <div class="col-xs-12">
               <img src="return_img.php?width=1080&height=720&img=imagenspadrao/{{fotos[indexpop]}}" alt="" width="100%">
            </div>
             <div class="col-xs-6" ng-click="anterior(indexpop)">
                 <div class="col-xs-12 pdo anterior">
                    <div><img ng-src="img/anterior.svg" alt="" width="30"></div>
                    <div>ANTERIOR</div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="col-xs-12 pdo seguinte"  ng-click="seguinte(indexpop)">
                    <div>SEGUINTE</div>
                    <div><img src="img/seguinte.svg" alt="" width="30"></div>
                </div>  
            </div>
        </div>

        <div class="col-xs-12 holder_botoes_paginacao" >
            <div class="col-xs-6 pd0" > 
               
            </div>
            <div class="col-xs-6 pd0 ">
               
            </div>
        </div>
    </div>
</div>