<div class="col-xs-12 holder_view">


    <div class="holder_conteudo">
        <!--<div class="linha_back_posts"></div>-->

        <!--form-->
        

        <!-- POST CONTEUDO -->
        <div class="col-xs-12 holder_post" ng-repeat="post in posts">

            <!-- <div class="col-xs-12 holder_icon_tag_media">
                <div class="icon_tag_media">
                    <img src="img/tag_video.svg" ng-if="post.tag_media == 1" width="26" />
                    <img src="img/tag_img.svg" ng-if="post.tag_media == 2" width="26"/>
                    <img src="img/tag_texto.svg" ng-if="post.tag_media == 3" width="26"/>
                </div>
            </div> -->

            <!-- CONTEUDO POST -->
            <div class="col-xs-12 holder_post_content">
                <!--<div class="col-xs-12 data_post">
                   </div>-->

                <!-- TEMPLATE 1 -->
                <div class="col-xs-12 content_post template1" ng-if="post.template == 1">
                    <div class="col-xs-12 pd0">
                        <div class="col-xs-12" style="margin-top:40px; padding-left:40px;padding-right: 40px;">
                            <p class="titulo_post" ng-if="post.titulo" ng-bind-html="post.titulo"></p>
                            <p class="subtitulo_post" ng-if="post.subtitulo">{{post.subtitulo}}</p>
                        </div>
                    </div>
                    <div class="col-xs-12 pd0" ng-if="post.text_divide[0]">
                        <div class="col-xs-12" style="margin-top:20px; padding-left:40px;padding-right: 40px; margin-bottom:40px">
                            <p class="texto_post" ng-bind-html="post.text_divide[0]"/>
                        </div>
                    </div>
                    <div id="carousel-template1{{$index}}" class="carousel slide" data-interval="false"
                         data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item" ng-repeat="media in post.media | filter:vidorimg"
                                 ng-class="{active: $index==0}">
                                <!-- VIDEO -->
                                <div class="col-xs-12 video_holder" ng-if="media.id_tipo == 1"
                                     ng-bind-html="media.media" style="margin-top:20px;">
                                </div>

                                <!-- IMAGEM -->
                                <!-- <img ng-src="posts/{{post.id}}/{{media.media}}" alt="{{post.titulo}}" ng-if="media.id_tipo == 2" width="100%" /> -->
                                <img ng-src="posts/{{post.id}}/{{media.media}}" alt="{{post.titulo}}"
                                     ng-if="media.id_tipo == 2" width="100%" style="margin-top:20px;"/>

                            </div>

                        </div>

                        <!-- Controls -->
                       <!-- <a data-target="#carousel-template1{{$index}}" role="button" data-slide="prev"
                           ng-if="post.total_media_tipo2+post.total_media_tipo1 >1">
                            <div class="seta_esq_carrossel">
                                <div class="seta_holder_carrosel">
                                    <div class="item_seta_carrosel item_seta_carrosel1"></div>
                                    <div class="item_seta_carrosel item_seta_carrosel2"></div>
                                </div>
                            </div>
                        </a>
                        <a data-target="#carousel-template1{{$index}}" role="button" data-slide="next"
                           ng-if="post.total_media_tipo2+post.total_media_tipo1 >1">
                            <div class="seta_dir_carrossel">
                                <div class="seta_holder_carrosel">
                                    <div class="item_seta_carrosel item_seta_carrosel1"></div>
                                    <div class="item_seta_carrosel item_seta_carrosel2"></div>
                                </div>
                            </div>
                        </a>-->

                    </div>

                   
                    

                </div>

                <!-- TEMPLATE 2 -->
                <div class="col-xs-12 content_post template2" ng-if="post.template == 2">
                    <div class="col-xs-12 col-md-6" style="padding: 0px;margin-bottom: 40px;">
                        <div id="carousel-template2{{$index}}" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item" ng-repeat="media in post.media | filter:{id_tipo:2}"
                                     ng-class="{active: $index==0}">

                                    <!-- IMAGEM -->
                                    <img ng-src="posts/{{post.id}}/{{media.media}}" alt="{{post.titulo}}" width="100%"/>

                                </div>

                            </div>

                            <!-- Controls -->
                            <a data-target="#carousel-template2{{$index}}" role="button" data-slide="prev"
                               ng-if="post.total_media_tipo2 >1">
                                <div class="seta_esq_carrossel">
                                    <div class="seta_holder_carrosel">
                                        <div class="item_seta_carrosel item_seta_carrosel1"></div>
                                        <div class="item_seta_carrosel item_seta_carrosel2"></div>
                                    </div>
                                </div>
                            </a>
                            <a data-target="#carousel-template2{{$index}}" role="button" data-slide="next"
                               ng-if="post.total_media_tipo2 >1">
                                <div class="seta_dir_carrossel">
                                    <div class="seta_holder_carrosel">
                                        <div class="item_seta_carrosel item_seta_carrosel1"></div>
                                        <div class="item_seta_carrosel item_seta_carrosel2"></div>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <div class="col-xs-12">
                            <p class="titulo_post">{{post.titulo}}</p>
                            <p class="subtitulo_post">{{post.subtitulo}}</p>
                            <p class="texto_post" style="margin-top: 40px;"
                               ng-bind-html="post.texto1+'<br /><br />'+post.texto2"/>
                        </div>

                    </div>

                </div>

                <!-- TEMPLATE 3 -->
                <div class="col-xs-12 content_post template3" ng-if="post.template == 3">

                    <div class="col-xs-12">
                        <div class="col-xs-12 col-md-6" style="margin-top:40px;">
                            <p class="titulo_post">{{post.titulo}}</p>
                            <p class="subtitulo_post">{{post.subtitulo}}</p>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-12 col-md-6" style="margin-top:40px;">
                            <p class="texto_post" ng-bind-html="post.text_divide[0]"/>
                        </div>
                        <div class="col-xs-12 col-md-6" style="margin-top:40px;">
                            <p class="texto_post" ng-bind-html="post.text_divide[1]"/>
                        </div>
                    </div>

                </div>

                <!-- TEMPLATE 4 -->
                <div class="col-xs-12 content_post template4" ng-if="post.template == 4">
                    <div class="col-xs-12 col-sm-6 img_holder_template4"
                         ng-repeat="media in post.media | filter:{id_tipo:2}">
                        <img ng-src="posts/{{post.id}}/{{media.media}}" width="100%"/>
                    </div>

                    <div class="col-xs-12">
                        <div class="col-xs-12 col-md-6" style="margin-top:40px;">
                            <p class="titulo_post">{{post.titulo}}</p>
                            <p class="subtitulo_post">{{post.subtitulo}}</p>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-6" ng-repeat="media in post.media | filter:audiofile">
                        <a ng-href="{{pathgeral}}posts/{{post.id}}/{{media.media}}" target="_blank"
                           ng-if="media.id_tipo == 3">
                            <div class="col-xs-12 button_resources">
                                <div class="icon_button_resorce icon_resource_file"></div>

                                <div class="texto_resource">
                                    <p>{{lang_array.download_palavra}}</p>
                                </div>

                                <div class="arrow_down"></div>
                            </div>
                        </a>
                        <div class="col-xs-12 button_resources" ng-click="play_audio(media,media.media)"
                             ng-if="media.id_tipo == 4">
                            <div class="icon_button_resorce icon_resource_som"></div>

                            <div class="texto_resource">
                                <p>{{lang_array.audio_palavra}}</p>
                            </div>

                            <div class="arrow_right" ng-show="!media.playing"></div>
                            <div class="square" ng-show="media.playing"></div>

                        </div>
                    </div>
                </div>


                <div class="col-xs-12 footer_post">
                    <!--<div class="col-xs-12 line_grey"></div>

                    <div class="col-xs-12 col-md-6 tags_footer">
                        <p><span>Tags:</span> {{post.tags_string}}</p>
                    </div>
                    <div class="col-xs-12 col-md-6 share_footer">
                        <p><span>Share:</span>
                            <a ng-href="https://www.facebook.com/sharer/sharer.php?u={{pathgeral}}{{lang}}/{{post.url_post}}"
                               target="_blank">
                                <img src="img/icon_facebook_share.svg" height="17"/>
                            </a>
                            <a ng-href="https://www.linkedin.com/shareArticle?mini=true&url={{pathgeral}}{{lang}}/{{post.url_post}}&title={{post.titulo}}&summary={{post.subtitulo}}&source="
                               target="_blank">
                                <img src="img/icon_linkedin_share.svg" height="17"/>
                            </a>
                            <a ng-href="https://plus.google.com/share?url={{pathgeral}}{{lang}}/{{post.url_post}}"
                               target="_blank">
                                <img src="img/icon_googleplus_share.svg" height="17"/>
                            </a>
                            <a ng-href="https://twitter.com/home?status={{pathgeral}}{{lang}}/{{post.url_post}}"
                               target="_blank">
                                <img src="img/icon_twitter_share.svg" height="17"/>
                            </a>
                        </p>
                    </div>-->
                </div>
            </div>

        </div>


        <!-- GET MORE BUTTON -->
        <div class="get_more_button" ng-click="get_more_posts()" ng-if="total_posts > total_posts_act">
            <p class="normal_button">{{lang_array.vermais_palavra}}</p>
            <div class="seta_get_more normal_button">
                <div class="item_seta_get_more item_seta_get_more1"></div>
                <div class="item_seta_get_more item_seta_get_more2"></div>
                <div class="item_seta_get_more item_seta_get_more3"></div>
            </div>
            <div class="circle_wait loading_button">
                <div class="item_circle_wait"></div>
            </div>

        </div>
        
    </div>



</div>