<div class="col-xs-12 holder_view">
	
	<div class="holder_conteudo" style="padding-top: 90px;">
		<div class="col-xs-12 col-md-6 ask_content_left" style="margin-top: 20px;">
			<p class="text_ask">
				{{lang_array.texo_social}}
			</p>
		</div>
		<div class="col-xs-12 col-md-6 ask_content_right" style="margin-top: 20px;">
			<div class="icons1 col-md-6">
				<a href="https://www.linkedin.com/in/pfhipolito/pt" target="_blank">
					<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-12 col-md-offset-0 rede_holder">
						<img src="img/linkedin.svg" width="100%" />
						<div class="line_rede"></div>
						<p>{{lang_array.saibamais_palavra}}</p>
					</div>
				</a>
				<a href="https://twitter.com/PFHipolito" target="_blank">
					<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-12 col-md-offset-0 rede_holder">
						<img src="img/twitter.svg" width="100%" />
						<div class="line_rede"></div>
						<p>{{lang_array.saibamais_palavra}}</p>
					</div>
				</a>
				<a href="https://www.instagram.com/pfhipolito_africa_business/" target="_blank">
					<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-12 col-md-offset-0 rede_holder">
						<img src="img/instagram.svg" width="100%" />
						<div class="line_rede"></div>
						<p>{{lang_array.saibamais_palavra}}</p>
					</div>
				</a>
			</div>
			<div class="icons2 col-md-6">
				<!-- <a href="" target="_blank"> -->
					<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-12 col-md-offset-0 rede_holder">
						<img src="img/snap2.svg" width="40%" />
						<div class="line_rede"></div>
						<p>@pfhipolito</p>
					</div>
				<!-- </a> -->
				<a href="https://www.youtube.com/pedrofhipolito" target="_blank">
					<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-12 col-md-offset-0 rede_holder">
						<img src="img/youtube.svg" width="40%" />
						<div class="line_rede"></div>
						<p>{{lang_array.saibamais_palavra}}</p>
					</div>
				</a>
			</div>

		</div>
	</div>
</div>