/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*font*/
@font-face {
    font-family: 'azo_sansbold';
    src: url('../../css/rui_abreu_-_azosans-bold-webfont.eot');
    src: url('../../css/rui_abreu_-_azosans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('.../../css/rui_abreu_-_azosans-bold-webfont.woff2') format('woff2'),
         url('../../css/rui_abreu_-_azosans-bold-webfont.woff') format('woff'),
         url('../../css/rui_abreu_-_azosans-bold-webfont.ttf') format('truetype'),
         url('../../css/rui_abreu_-_azosans-bold-webfont.svg#azo_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'azo_sanslight';
    src: url('../../css/rui_abreu_-_azosans-light-webfont.eot');
    src: url('../../css/rui_abreu_-_azosans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../css/rui_abreu_-_azosans-light-webfont.woff2') format('woff2'),
         url('../../css/rui_abreu_-_azosans-light-webfont.woff') format('woff'),
         url('../../css/rui_abreu_-_azosans-light-webfont.ttf') format('truetype'),
         url('../../css/rui_abreu_-_azosans-light-webfont.svg#azo_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'azo_sansmedium';
    src: url('../../css/rui_abreu_-_azosans-medium-webfont.eot');
    src: url('../../css/rui_abreu_-_azosans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../css/rui_abreu_-_azosans-medium-webfont.woff2') format('woff2'),
         url('../../css/rui_abreu_-_azosans-medium-webfont.woff') format('woff'),
         url('../../css/rui_abreu_-_azosans-medium-webfont.ttf') format('truetype'),
         url('../../css/rui_abreu_-_azosans-medium-webfont.svg#azo_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'azo_sansregular';
    src: url('../../css/rui_abreu_-_azosans-regular-webfont.eot');
    src: url('../../css/rui_abreu_-_azosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../css/rui_abreu_-_azosans-regular-webfont.woff2') format('woff2'),
         url('../../css/rui_abreu_-_azosans-regular-webfont.woff') format('woff'),
         url('../../css/rui_abreu_-_azosans-regular-webfont.ttf') format('truetype'),
         url('../../css/rui_abreu_-_azosans-regular-webfont.svg#azo_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'azo_sansthin';
    src: url('../../css/rui_abreu_-_azosans-thin-webfont.eot');
    src: url('../../css/rui_abreu_-_azosans-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../css/rui_abreu_-_azosans-thin-webfont.woff2') format('woff2'),
         url('../../css/rui_abreu_-_azosans-thin-webfont.woff') format('woff'),
         url('../../css/rui_abreu_-_azosans-thin-webfont.ttf') format('truetype'),
         url('../../css/rui_abreu_-_azosans-thin-webfont.svg#azo_sansthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

* { box-sizing: border-box; }

/*body{*/
    /*background-image: url('../img/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-color: #FFFFFF;*/
/*}*/

body{
    -webkit-overflow-scrolling: touch !important;
}
div{
	-webkit-overflow-scrolling: touch !important;
}

p{
    margin: 0px;
    padding: 0px;
}
.pd0{
    padding: 0px;
}

/*HOME*/

.background{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../../img/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-color: #FFFFFF;
}


.logo_data{
    position: fixed;
    top: 100px;
    right: 100px;
    width: 128px;
}

.logo_holder{
    position: absolute;
    float: left;
    width: 173px;
    top:100px;
    left:100px;
    z-index: 100;
}

.login_holder{
    position: absolute;
    float:left;
    width: 380px;
    top:40%;
    left:100px;
}

.title{
    font-family: 'azo_sanslight';
    font-size: 40px;
}

.red{
    color: #E02428 !important;
}

.text{
    font-family: 'azo_sansregular';
    font-size: 16px;
    text-transform: none !important;
}
.black{
    color: #000000 !important;
}

.holder_segundo_esquerda{
    padding: 100px;
    position: relative;
    height: 100%;
    overflow: auto;
}

.titulo_agenda_css {
    position: relative;
    float: left;
    font: 25px 'azo_sanslight';
    color: #000000;
    margin-top: 37px;
    margin-bottom: 37px;
    text-transform: uppercase;
}

.button{
    position: relative;
    float: left;
    background: #000000;
    padding: 5px 20px;
    border-radius: 40px;
    margin-top: 25px;
    cursor: pointer;
}

.saber_mais{
    color:#FFFFFF;
     font: 16px 'azo_sansmedium';
    color:#FFFFFF;
    width: auto !important;
    padding: 5px 20px;
    margin-top: 16px;
}

.holder_segundo_direita{
    background-color: #f7f7f7;
    height: auto;
    padding-top: 180px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
}

.holder_palestra{
    padding: 50px 100px 50px 100px;
}

.holder_voltar_agenda{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.holder_voltar_agenda div:nth-child(2){
    padding-left: 15px;
    font-family: 'azo_sansregular';
    font-size: 22px;
}

.holder_popup_mensagem{
   background-color: rgba(0, 0, 0, 0.3);
   height: 100vh;
   display: flex;
   align-items: center;
}

.holder_popup{
    background-color: white;
    border-radius: 5px;
    padding-bottom: 20px;
}

.close_popup{
    position: relative;
    width: 100%;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.form_agenda_button_holder{
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding-right: 10px;
}

.holder_popup_mensagem{
    position: fixed;
    top: 0px;
    left: 100%;
}

.holder_popup_mensagem_email{
    position: fixed;
    top: 0px;
    left: 100%;
}

.holder_popup_mensagem_ativo{
    position: fixed;
    top: 0px;
    left: 0px;
}

@media only screen and (max-width: 1465px) {
    .holder_palestra{
        padding: 50px;
    }
   .logo_holder{
        top:50px;
        left:50px;
    }

    .logo_data{
        top: 50px;
        right: 50px;
    }

    .login_holder{
        left:50px;
    }

    .logo_footer{
        right:40px;
        bottom: 40px;
    }

     .holder_quarto_direita{
      position: relative;
    }

    .holder_segundo_esquerda{
        padding: 50px;
    }

    /*Planta*/
    .holder_planta{
        width:990px;
        padding: 30px;
    }

    .coluna_slots{
        width:216px;
        margin: 0px 7px;
    }

    .coluna_slot_tipo2{
        width: 216px;
    }

    .coluna_slot_tipo3{
        width:252px;
    }

    .holder_mesas{
        margin-bottom: 20px;
    }

    .title_holder_mesas{
        font:16px 'azo_sansmedium';
    }

    #slot1 .title_holder_mesas{
        top: -20px;
    }

    #slot2 .title_holder_mesas{
        width: 50px;
        margin-left: 5px;
        margin-top:-8px;
    }

    #slot3 .title_holder_mesas{
        margin-top:5px;
    }

    #slot4{
        margin-top: 32px;
    }
    #slot4 .title_holder_mesas{
        top: -20px;
    }
    #slot5 .title_holder_mesas{
        margin-top:5px;
    }

    #slot5{
        margin-top: 2px;
    }

    #slot6 .title_holder_mesas{
        top: -20px;
    }

    #slot7 .title_holder_mesas{
        margin-right: -20px;
        margin-top:-8px;
    }

    #slot8 .title_holder_mesas{
        margin-top:5px;
    }

    .holder_mesas img{
        height: 192px;
    }

    .holder_coluna_mesas{
        position: relative;
        float: right;
        width: 36px;
    }

    .mesa_holder{
        width: 30px;
        height: 30px;
        margin: 1px 3px;
    }

    .red_table .number_table{
        font:11px 'azo_sansmedium';
    }

    .white_table .number_table{
        font:13px 'azo_sansmedium';
    }

    .holder_cocktail{
        margin-left: 50px;
    }

    .holder_cocktail img{
        height: 636px;
    }
}

@media only screen and (max-width: 992px) {
    .holder_segundo_direita{
        padding: 10px;
    }
    .holder_palestra{
        padding: 25px;
    }
    .background{
        display: none;
    }
    .holder_segundo_esquerda{
        padding: 25px;
        height: auto;
        position: relative;
    }
    .holder_segundo_direita{
      position: relative;
    }

    .fundocinza{
        display: none;
    }
}
@media only screen and (max-width: 770px) {
    .holder_segundo_direita{
        padding: 10px;
    }
    .holder_pesquisa{
      flex-direction: column;
    }
    .largura_titulo_pesquisa{
      width: 100%;
      padding-top: 10px;
    }

    .campo_livre{
      width: 100%;
      margin-left: 0px;
    }

    .botao_pesquisar{
      padding-bottom: 20px;
    }
    .background{
        display: none;
    }

    .logo_data{
        display: none;
    }

    .logo_holder{
        position:relative;
        float: left;
        top:0px;
        left: 0px;
        margin-top:25px;
        margin-left: 25px;
        clear: left;
    }

    .login_holder{
        position: relative;
        float: left;
        width: 100%;
        padding-left:25px;
        padding-right: 25px;
        top: 0px;
        left: 0px;
        margin-top: 100px;
    }

    .button{
        width: 100%;
        text-align: center;
        padding: 5px 0px;
    }

    .logo_footer{
        display: none;
    }

    .holder_segundo_direita{
      position: relative;
    }
    .holder_quarto_direita{
      position: relative;
    }

    

}


@media screen and (orientation:portrait) {
    .background{
        background-position: 80% 0%;
    }
    .logo_footer{
        bottom:250px !important;
    }
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
