/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*font*/
@font-face {
    font-family: 'azo_sansbold';
    src: url('rui_abreu_-_azosans-bold-webfont.eot');
    src: url('rui_abreu_-_azosans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('rui_abreu_-_azosans-bold-webfont.woff2') format('woff2'),
         url('rui_abreu_-_azosans-bold-webfont.woff') format('woff'),
         url('rui_abreu_-_azosans-bold-webfont.ttf') format('truetype'),
         url('rui_abreu_-_azosans-bold-webfont.svg#azo_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'azo_sanslight';
    src: url('rui_abreu_-_azosans-light-webfont.eot');
    src: url('rui_abreu_-_azosans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('rui_abreu_-_azosans-light-webfont.woff2') format('woff2'),
         url('rui_abreu_-_azosans-light-webfont.woff') format('woff'),
         url('rui_abreu_-_azosans-light-webfont.ttf') format('truetype'),
         url('rui_abreu_-_azosans-light-webfont.svg#azo_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'azo_sansmedium';
    src: url('rui_abreu_-_azosans-medium-webfont.eot');
    src: url('rui_abreu_-_azosans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('rui_abreu_-_azosans-medium-webfont.woff2') format('woff2'),
         url('rui_abreu_-_azosans-medium-webfont.woff') format('woff'),
         url('rui_abreu_-_azosans-medium-webfont.ttf') format('truetype'),
         url('rui_abreu_-_azosans-medium-webfont.svg#azo_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'azo_sansregular';
    src: url('rui_abreu_-_azosans-regular-webfont.eot');
    src: url('rui_abreu_-_azosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('rui_abreu_-_azosans-regular-webfont.woff2') format('woff2'),
         url('rui_abreu_-_azosans-regular-webfont.woff') format('woff'),
         url('rui_abreu_-_azosans-regular-webfont.ttf') format('truetype'),
         url('rui_abreu_-_azosans-regular-webfont.svg#azo_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'azo_sansthin';
    src: url('rui_abreu_-_azosans-thin-webfont.eot');
    src: url('rui_abreu_-_azosans-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('rui_abreu_-_azosans-thin-webfont.woff2') format('woff2'),
         url('rui_abreu_-_azosans-thin-webfont.woff') format('woff'),
         url('rui_abreu_-_azosans-thin-webfont.ttf') format('truetype'),
         url('rui_abreu_-_azosans-thin-webfont.svg#azo_sansthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

* { box-sizing: border-box; }

/*body{*/
    /*background-image: url('../img/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-color: #FFFFFF;*/
/*}*/

body{
    -webkit-overflow-scrolling: touch !important;
}
div{
	-webkit-overflow-scrolling: touch !important;
}
.background{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../img/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-color: #FFFFFF;
}

.logo_holder{
    position: absolute;
    float: left;
    width: 173px;
    top:100px;
    left:100px;
}

.login_holder{
    position: absolute;
    float:left;
    width: 380px;
    top:45%;
    left:100px;
}

.logo_data{
    position: fixed;
    top: 100px;
    right: 100px;
    width: 128px;
}

p{
    margin: 0px;
    padding: 0px;
}

.title{
    font-family: 'azo_sansbold';
    font-size: 21px;
}

.red{
    color: #E02428 !important;
}

.text{
    font-family: 'azo_sansregular';
    font-size: 16px;
    text-transform: none !important;

}

.form_holder{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 25px;
}

.black{
    color: #000000 !important;
}

.form_holder p,.form_holder label{
    font-family: 'azo_sansmedium';
    font-size:15px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.form_holder input{
    background: #F2F2F2;
    border-radius: 20px;
    border: none;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'azo_sansregular';
    font-size: 16px;
}

.form_holder select{
    background: #F2F2F2;
    border-radius: 20px;
    border: none;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'azo_sansregular';
    font-size: 16px;
}

.form_holder input[type=radio]{
    width: auto;
    height: auto;
}
.form_holder input[type=checkbox]{
    width: auto;
    height: auto;
}



.form_holder ul{
  list-style: none;
  
  margin: 0;
  padding: 0;
}


ul li{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 40px;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}
ul li input[type=checkbox]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  float: left;
  padding-top: 2px;
  padding-left: 35px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}



ul li .check{
  display: block;
  position: absolute;
  float: left;
  background: #E6E6E6;
  border-radius: 100%;
  height: 24px;
  width: 24px;
  margin-right: 20px;
  top: 0px;
  left: 0px;
	z-index: 5;
    transition: border .25s linear;
	-webkit-transition: border .25s linear;
}


ul li .check::before {
  display: block;
  position: absolute;
  top:5px;
  left: 5px;
	content: '';
  border-radius: 100%;
  height: 14px;
  width: 14px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check::before{
  background: #E02428;
}
input[type=checkbox]:checked ~ .check::before{
  background: #E02428;
}

ul li input[type=text]{
    width: 420px;
    margin-left:20px;
    margin-top:-10px;
}



.button{
    position: relative;
    float: left;
    background: #000000;
    padding: 5px 20px;
    border-radius: 40px;
    margin-top: 25px;
    cursor: pointer;
}

.button.submit_class{
    border: none;
    color: #FFFFFF;
    font-family: 'azo_sansmedium';
    font-size: 20px;
}

.button p,.button span{
    color: #FFFFFF;
    font-family: 'azo_sansmedium';
    font-size: 20px;
}

.button:hover{
    background: #282828;
}

.logo_footer{
    position: fixed;
    bottom: 80px;
    width: 110px;
    /*padding: 20px;*/
    right: 109px;
}

.logo_footer img{
    position: relative;
}

.logo_footer .back{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.popup_error{
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    visibility:hidden;
    opacity:0;
    -webkit-transition: visibility ease-out 0.2s, opacity 0.2s ease-out;
    -moz-transition: visibility ease-out 0.2s, opacity 0.2s ease-out;
    -ms-transition: visibility ease-out 0.2s, opacity 0.2s ease-out;
    -o-transition: visibility ease-out 0.2s, opacity 0.2s ease-out;
    transition:visibility ease-out 0.2s, opacity 0.2s ease-out;
    z-index: 99999;
}

.popup_error.visible{
    visibility:visible;
    opacity:1;
    /*-webkit-transition: visibility 0s ease-out 0.2s, opacity 0.2s ease-out;
    -moz-transition: visibility 0s ease-out 0.2s, opacity 0.2s ease-out;
    -ms-transition: visibility 0s ease-out 0.2s, opacity 0.2s ease-out;
    -o-transition: visibility 0s ease-out 0.2s, opacity 0.2s ease-out;
    transition:visibility 0s ease-out 0.2s, opacity 0.2s ease-out;*/
}

.popup_back{
    position: absolute;
    top: 0px;
    height: 100%;
    left:0px;
    width: 100%;
    background: #333333;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: visibility 0s ease-out 0.2s, opacity 0.2s ease-out;
    -ms-transition: visibility 0s ease-out 0.2s, opacity 0.2s ease-out;
    -o-transition: visibility 0s ease-out 0.2s, opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

.popup_error.visible .popup_back{
    opacity: 0.6;
}

.popup_holder{
    position: absolute;
    padding: 40px;
    width: 30%;
    left:35%;
    border-radius: 10px;
    background: #FFFFFF;
    top: 25%;
    max-height: 50%;
    overflow: auto;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    -webkit-transition: transform ease-out 0.2s, opacity ease-out 0.2s;
    -moz-transition: transform ease-out 0.2s, opacity ease-out 0.2s;
    -ms-transition: transform ease-out 0.2s, opacity ease-out 0.2s;
    -o-transition: transform ease-out 0.2s, opacity ease-out 0.2s;
    transition: transform ease-out 0.2s, opacity ease-out 0.2s;
}

.popup_error.visible .popup_holder{
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    
}

.popup_holder .button_holder{
    position: relative;
    text-align: center;
    width: 100%;
}
.popup_holder .button_holder .button{
    display: inline-block;
    float:none;
}

.popup_holder .error_msg{
    width: 100%;
    font-family: 'azo_sansmedium';
    font-size:  20px;
    text-align: center;
    margin-bottom:50px;
}

.container_form{
    position: absolute;
    float: left;
    max-width: 740px;
    width: 50%;
    top: 300px;
    left: 100px;
    padding-bottom:100px;
}

.bigtitle{
    font-family: 'azo_sansregular';
    font-size: 30px;
    text-transform: uppercase;
}

.verybigtitle{
    font-family: 'azo_sansbold';
    font-size: 36px;
    line-height: 100%;
}

.grey{
    color: #424143 !important;
}
.text strong{
    font-weight: bolder;
}

.container_form .form_holder{
    width: 420px;
}

.form_holder.lista{
    width: 100%;
}

.holder_dados{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 50px;
}

.holder_coluna{
    position: relative;
    float:left;
    width: 50%;
}

.holder_coluna_esq{
    padding-right: 50px;
}
.holder_coluna_dir{
    padding-left: 50px;
}

.info_item{
    position: relative;
    float: left;
    width: 100%;
    font-family:'azo_sanslight';
    font-size: 14px;  
    margin-bottom: 20px;
}

.info_item_title{
    font-family:'azo_sansmedium';
    font-size: 14px;  
}

.info_item a{
    text-decoration: none;
    color:#000000;
}

.verybigtitleunderline{
    font-family:'azo_sansbold';
    font-size: 25px;  
    /*text-decoration: underline;*/
    border-bottom:1px solid #B3B3B3;
    padding-bottom: 8px;
    margin-top: 50px;
    float: left;
}

.pdf_button{
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    background: url('../img/pdf_back.png') no-repeat;
    cursor: pointer;
    margin-top: 15px;
    margin-right:30px;
}
.pdf_button:hover{
    background-position: 0px -50px;
}

.mapa_button{
    position: relative;
    float: left;
    width: 244px;
    height: 50px;
    background: url('../img/mapa_back.png') no-repeat;
    cursor: pointer;
    margin-top: 15px;
    margin-right:30px;
}
.mapa_button:hover{
    background-position: 0px -50px;
}

.holder_phone{
    position: relative;
    float: left;
    margin-top: 50px;
    width:990px;
}

.texto_left_holder{
    position: relative;
    float: left;
    text-align: right;
    width: 346px;
    margin-top:70px;
    padding-right: 10px;
}

.title_app{
    font-family: 'azo_sanslight';
    font-size:35px;
}

.subtitle_app{
    font-family: 'azo_sansbold';
    font-size:20px;
}

.text_app{
    font-family: 'azo_sansregular';
    font-size:16px;
}

.phone_holder{
    position: relative;
    float: left;
    width: 254px;
    z-index: 1;
}

.texto_right_holder{
    position: relative;
    float:left;
    width: 384px;
    text-align: right;
    margin-top:120px;
    margin-left:-110px;
}

.divider_footer{
    height: 1px;
    border-top: 1px solid #B3B3B3;
    margin-top: 10px;
    margin-bottom:10px;
}

/*OLD BROWSERS*/
.container_old_borwsers{
    position: relative;
    float: left;
    width: 760px;
    left: 50%;
    margin-left:-380px;
    padding: 25px;
}

.logo_holder.old_borwsers{
    position: relative;
    float: left;
    top:0px;
    left:0px;
    
}

.container_old_borwsers .login_holder{
    position: relative;
    float: left;
    width: 100%;
    top: 0px;
    left:0px;
    margin-top:50px;

}

.container_old_borwsers .logo_footer{
    display: none;
}

.container_old_borwsers .container_form{
    position: relative;
    float: left;
    width: 100%;
    top:0px;
    left:0px;
    margin-top:50px;
}

 .container_old_borwsers .holder_coluna{
    width: 100%;
}

.container_old_borwsers .holder_coluna_esq{
    padding-right: 0px;
}
.container_old_borwsers .holder_coluna_dir{
    padding-left: 0px;
}
.container_old_borwsers .holder_phone{
    margin-top: 25px;
    width:100%;
}

.container_old_borwsers .texto_left_holder{
    width: 100%;
    margin-top:0px;
    padding-right: 0px;
    text-align: left;
}

.container_old_borwsers .title_app{
    font-size:25px;
}

.container_old_borwsers .subtitle_app{
    font-size:17px;
}

.container_old_borwsers .text_app{
    font-size:12px;
}

.container_old_borwsers .phone_holder{
    width: 200px;
    z-index: 1;
    left: 50%;
    margin-left:-100px;
}

.container_old_borwsers .texto_right_holder{
    width: 100%;
    text-align: left;
    margin-top:20px;
    margin-left:0px;
}

.container_old_borwsers  .divider_footer{
    float: none;
    width: 100%;
}


.holder_logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media screen and (orientation:portrait) {
    /* Portrait styles */
    /*body{
        background-position: 80% 0%;
    }*/
    .background{
        background-position: 80% 0%;
    }
    .logo_footer{
        bottom:250px !important;
    }
}
@media only screen and (min-width: 771px) and (max-width: 1024px){
    .popup_holder{
        padding: 20px;
        width: 50%;
        left:25%;
        top: 20%;
        max-height: 60%;
    }
    .popup_holder .error_msg{
        font-size:  20px;
        margin-bottom:30px;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1465px){
    .popup_holder{
        padding: 20px;
        width: 50%;
        left:25%;
        top: 25%;
        max-height: 50%;
    }
    .popup_holder .error_msg{
        font-size:  20px;
        margin-bottom:30px;
    }
}
@media only screen and (max-width: 1465px) {
    .logo_holder{
        top:50px;
        left:50px;
    }

    .login_holder{
        left:50px;
    }

    .logo_data{
        top: 50px;
        right: 50px;
    }
    .logo_footer{
        right:40px;
        bottom: 40px;
    }
    
    .container_form{
        top: 250px;
        left: 50px;
        padding-bottom:50px;
    }

    .holder_phone{
        width:690px;
    }

    .texto_left_holder{
        width: 260px;
        margin-top:50px;
        padding-right: 0px;
    }

    .title_app{
        font-size:27px;
    }

    .subtitle_app{
        font-size:17px;
    }

    .text_app{
        font-size:13px;
    }

    .phone_holder{
        width: 200px;
        z-index: 1;
    }

    .texto_right_holder{
        width: 264px;
        margin-top:90px;
        margin-left:-40px;
    }

    .divider_footer{
        width: 300px;
        float: right;
    }
}
@media only screen and (min-width: 700px) and (max-width: 1300px)  {
    .holder_phone{
        width:100%;
    }

    .texto_left_holder{
        width: 430px;
        margin-top:0px;
        padding-right: 0px;
        text-align: left;
        margin-bottom: 30px;
    }

    .title_app{
        font-size:27px;
    }

    .subtitle_app{
        font-size:17px;
    }

    .text_app{
        font-size:13px;
    }

    .phone_holder{
        clear: both;
        width: 200px;
        z-index: 1;
    }

    .texto_right_holder{
        width: 264px;
        margin-top:90px;
        margin-left:-40px;
    }

    .divider_footer{
        width: 300px;
        float: right;
    }
}
@media only screen and (max-width: 770px) {
    /* Style adjustments for viewports that meet the condition */
    body{
        background: #FFFFFF;
    }
    .background{
        display: none;
    }
    .logo_holder{
        position:relative;
        float: left;
        top:0px;
        left: 0px;
        margin-top:25px;
        margin-left: 25px;
        clear: left;
    }

    .logo_data{
        display: none;
    }

    .login_holder{
        position: relative;
        float: left;
        width: 100%;
        padding-left:25px;
        padding-right: 25px;
        top: 0px;
        left: 0px;
        margin-top: 100px;
    }

    .button{
        width: 100%;
        text-align: center;
        padding: 5px 0px;
    }

    .logo_footer{
        display: none;
    }

    .popup_holder{
        padding: 20px;
        width: 80%;
        left:10%;
        top: 20%;
        max-height: 60%;
    }
    .popup_holder .error_msg{
        font-size:  20px;
        margin-bottom:30px;
    }

    .container_form{
        width: 100%;
        padding: 20px 25px;
        position: relative;
        left: 0px;
        top: 0px;
        max-width: none;
        margin-top:30px;
    }

    .container_form .form_holder{
        width: 100%;
    }

    ul li input[type=text]{
        width: 100%;
        margin-left:0px;
        margin-top:10px;
    }

    ul li {
        height: auto;
    }

    .holder_dados{
        margin-top: 25px;
    }

    .holder_coluna{
        width: 100%;
    }

    .holder_coluna_esq{
        padding-right: 0px;
    }
    .holder_coluna_dir{
        padding-left: 0px;
    }

    /*.info_item{
        position: relative;
        float: left;
        width: 100%;
        font-family:'azo_sanslight';
        font-size: 14px;  
        margin-bottom: 20px;
    }*/

    /*.info_item_title{
        font-family:'azo_sansmedium';
        font-size: 14px;  
    }*/

    /*.info_item a{
        text-decoration: none;
        color:#000000;
    }*/

    .verybigtitleunderline{
        margin-top: 25px;
    }

    /*.pdf_button{
        position: relative;
        float: left;
        width: 50px;
        height: 50px;
        background: url('../img/pdf_back.png') no-repeat;
        cursor: pointer;
        margin-top: 15px;
        margin-right:30px;
    }*/
    /*.pdf_button:hover{
        background-position: 0px -50px;
    }*/

    /*.mapa_button{
        position: relative;
        float: left;
        width: 244px;
        height: 50px;
        background: url('../img/mapa_back.png') no-repeat;
        cursor: pointer;
        margin-top: 15px;
        margin-right:30px;
    }
    .mapa_button:hover{
        background-position: 0px -50px;
    }*/

    .holder_phone{
        margin-top: 25px;
        width:100%;
    }

    .texto_left_holder{
        width: 100%;
        margin-top:0px;
        padding-right: 0px;
        text-align: left;
    }

    .title_app{
        font-size:25px;
    }

    .subtitle_app{
        font-size:17px;
    }

    .text_app{
        font-size:12px;
    }

    .phone_holder{
        width: 200px;
        z-index: 1;
        left: 50%;
        margin-left:-100px;
    }

    .texto_right_holder{
        width: 100%;
        text-align: left;
        margin-top:20px;
        margin-left:0px;
    }

    .divider_footer{
        float: none;
        width: 100%;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
