<div class="col-xs-12" style="padding: 0px">
  <section class="content-header">
    <h1>
      {{area_selected_titulo}}
      <small>Inserir</small>
    </h1>
  </section>
  <br />
  
  <div class="col-lg-12">
    <div class="alert alert-danger alert-dismissable" ng-show="erro_form">
      <button type="button" class="close" ng-click="erro_form=!erro_form">&times;</button>
      <strong>{{area_selected_titulo}}:</strong> erro ao inserir! tente mais tarde!
    </div>  
  </div>
  
  <form id="inserirItem"  name="inserirItem" ng-init="init(area_selected_flag,0,0,0,0,area_selected_mode)" novalidate>

    <div class="form-group col-xs-12 col-sm-6 col-lg-3">
        <label for="datainicio_input">Data</label>
        <span class="label label-danger" data-ng-show="submitted && inserirItem.from.$error.required">Obrigatório!</span>
        <input type="text" simpledatepicker readonly="readonly" class="form-control" id="datainicio_input"  ng-model="new_item.data" name="from" placeholder="ano-mês-dia">
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-lg-4">
      <label for="template_input">Template</label>
      <span class="label label-danger" data-ng-show="submitted && inserirItem.template_input.$error.required">Obrigatório!</span>
      <select class="form-control" id="template_input" ng-model="new_item.template" name="template_input" required>
        <option value="">Template</option>
        <option value="1">Fotos e vídeos grandes</option>
        <option value="2">Foto quadrada</option>
        <!-- <option value="3">Apenas Texto</option> -->
        <option value="4">Várias Fotos Pequenas, Titulo</option>
      </select>
    </div>
    
    <div class="col-xs-12" style="padding: 0px;" ng-repeat="lang in new_item.idiomas">
      <div class="form-group col-xs-12 col-sm-6 col-lg-4">
        <label for="titulo_input_{{lang.sigla}}">Titulo {{lang.nome_idioma}}</label>
        <span class="label label-danger" data-ng-show="submitted && (lang.titulo == '' || !lang.titulo)">Obrigatório!</span>
        <input type="text" class="form-control" id="titulo_input_{{lang.sigla}}" ng-model="lang.titulo" name="titulo_input_{{lang.sigla}}" placeholder="Titulo em {{lang.nome_idioma}}">
      </div>

      <div class="form-group col-xs-12 col-sm-6 col-lg-4">
        <label for="subtitulo_input_{{lang.sigla}}">Subtitulo {{lang.nome_idioma}}</label>
        <span class="label label-danger" data-ng-show="submitted && (lang.subtitulo == '' || !lang.subtitulo)">Obrigatório!</span>
        <input type="text" class="form-control" id="subtitulo_input_{{lang.sigla}}" ng-model="lang.subtitulo" name="subtitulo_input_{{lang.sigla}}" placeholder="Subtitulo em {{lang.nome_idioma}}">
      </div>

      <div class="form-group col-xs-12 col-md-6">
        <label for="descricao1_input_{{lang.sigla}}">Descrição {{lang.nome_idioma}} (Coluna1)</label>
        <span class="label label-danger" data-ng-show="submitted && (lang.texto1 == '' || !lang.texto1)">Obrigatório!</span>
        <textarea class="form-control" id="descricao1_input_{{lang.sigla}}" ng-model="lang.texto1" name="descricao1_input_{{lang.sigla}}" placeholder="Descrição  em {{lang.nome_idioma}}" style="height:300px;"></textarea>
      </div>

      <div class="form-group col-xs-12 col-md-6">
        <label for="descricao2_input_{{lang.sigla}}">Descrição {{lang.nome_idioma}} (Coluna2)</label>
        <textarea class="form-control" id="descricao2_input_{{lang.sigla}}" ng-model="lang.texto2" name="descricao2_input_{{lang.sigla}}" placeholder="Descrição  em {{lang.nome_idioma}}" style="height:300px;"></textarea>
      </div>
    </div>
    
    <div style="clear: left"></div>
    <hr />
    <div class="col-xs-12" style="padding: 0px;">
      <div class="col-xs-12">
        <div class="col-xs-12 col-md-6" style="padding: 0px;">
          <h3 style="margin: 0px;">Tags</h3>  
        </div>
        <span class="col-xs-12 col-md-4 btn btn-primary" style="float:right;" ng-click="new_tag()" >
          <i class="fa fa-plus" style="width:18px"></i>Adicionar
        </span>  
      </div>
      
      <hr />

      <div class="form-group col-xs-12 col-sm-12 col-lg-4" ng-repeat="tag in new_item.tags | filter:{deleted:0}">
        <label for="tag_input{{$index}}">Tag</label>
        <span ng-click="delete_tag(tag)" ng-if="$index > 0" class="btn btn-box-tool" style="margin: 0px;padding:0px;float:right;" ><i class="fa fa-times"></i></span>
        <span class="label label-danger" data-ng-show="submitted && inserirItem.tipologia_input.$error.required">Obrigatório!</span>
        <select class="form-control" id="tag_input{{$index}}" ng-model="tag.id_tag" name="tag_input{{$index}}" ng-options="tag.id as tag.nome for tag in tags">
          <option value="">Tag</option>
        </select>
      </div>
    </div>

    <div style="clear: left"></div>
    <hr />
    <div class="col-xs-12" style="padding: 0px;">
      <div class="col-xs-12">
        <div class="col-xs-12 col-md-6" style="padding: 0px;">
          <h3 style="margin: 0px;">Media</h3>  
        </div>
        <span class="col-xs-12 col-md-4 btn btn-primary" style="float:right;" ng-click="new_media()" >
          <i class="fa fa-plus" style="width:18px"></i>Adicionar
        </span>  
      </div>
      
      <hr />
      <div class="table-responsive col-xs-12">
        <table class="table table-hover table-striped" style="background:#FFFFFF">
          <tr class="label-primary">
            <th style="text-align:center;width: 40%;">Tipo</th>
            <th style="text-align:center;width: 40%;">Conteudo</th>
            <th style="text-align:center;width: 20%;">Apagar</th>
          </tr>
          <tr ng-repeat="media in new_item.media | filter:{deleted:0}">
            <td style="text-align:center">
              <select class="form-control" id="tipo_media{{$index}}" ng-model="media.tipo" name="tipo_media{{$index}}" >
                <option value="">Tipo</option>
                <option value="1">Video</option>
                <option value="2">Imagem</option>
                <option value="3">Ficheiro Download</option>
                <option value="4">Som</option>
              </select>
            </td>
            <td style="text-align:center">
              <!-- VIDEO -->
              <input type="text" class="form-control" id="video_input{{$index}}" ng-model="media.valor" name="video_input{{$index}}" placeholder="Codigo de Youtube ou Vimeo" ng-if="media.tipo == 1"/>
              <label ng-if="media.tipo == 1" style="font-size: 9px;">Apenas o URL fornecido no codigo para incorporar no website</label>
              
              <!-- IMAGEM -->
              <div class="input-group" ng-if="media.tipo == 2">
                <input type="text" id="imagem_input{{$index}}" ng-model="media.valor" name="imagem_input{{$index}}" disabled="disabled" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" class="fileButon" ng-click="click_upload('file'+$index)">Upload</button>
                </span>
              </div>
              <label ng-if="media.tipo == 2 && new_item.template == 1" style="font-size: 9px;">Imagem (1600 x 904) (.jpg ou .png)</label>
              <label ng-if="media.tipo == 2 && new_item.template == 2" style="font-size: 9px;">Imagem (1080 x 1080) (.jpg ou .png)</label>
              <label ng-if="media.tipo == 2 && new_item.template == 4" style="font-size: 9px;">Imagem (540 x 305) (.jpg ou .png)</label>
              <input ng-if="media.tipo == 2" ng-file-select="{item_id: new_item.id,id:$index, alias: 'file', formData2: {flag:new_item.flag,width:1200,height:1200,folder:'../posts/'}}" type="file" ng-change="" id="file{{$index}}" name="file" style="opacity: 0;height: 0px;width: 0px" ng-model="item"  />

              <!-- FILE -->
              <div class="input-group" ng-if="media.tipo == 3">
                <input type="text" id="file_input{{$index}}" ng-model="media.valor" name="file_input{{$index}}" disabled="disabled" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" class="fileButon" ng-click="click_upload('file'+$index)">Upload</button>
                </span>
              </div>
              <!-- <label ng-if="media.tipo == 3" style="font-size: 9px;">Imagem (1080 x 610) (.jpg ou .png)</label> -->
              <input ng-if="media.tipo == 3" ng-file-select="{item_id: new_item.id,id:$index, alias: 'file', formData2: {flag:new_item.flag,folder:'../posts/'}}" type="file" ng-change="" id="file{{$index}}" name="file" style="opacity: 0;height: 0px;width: 0px" ng-model="item"  />

              <!-- AUDIO -->
              <div class="input-group" ng-if="media.tipo == 4">
                <input type="text" id="audio_input{{$index}}" ng-model="media.valor" name="audio_input{{$index}}" disabled="disabled" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" class="fileButon" ng-click="click_upload('file'+$index)">Upload</button>
                </span>
              </div>
              <label ng-if="media.tipo == 4" style="font-size: 9px;">Formato (.mp3)</label>
              <input ng-if="media.tipo == 4" ng-file-select="{item_id: new_item.id,id:$index, alias: 'audio', formData2: {flag:new_item.flag,folder:'../posts/'}}" type="file" ng-change="" id="file{{$index}}" name="file" style="opacity: 0;height: 0px;width: 0px" ng-model="item"  />



            </td>
            <td style="text-align:center">
              <span class="small-box-footer btn-link cursor_pointer" >
                <span class="label label-primary btn" ng-click="delete_media(media)"><i class="fa fa-trash" style="width:18px"></i></span>
              </span>
            </td>

          </tr>
        </table>
      </div>
      

      <!-- <div class="form-group col-xs-12 col-sm-12 col-lg-4" ng-repeat="tag in new_item.tags | orderBy:'id':true">
        <label for="categorias_input">Tag</label>
        <span ng-click="delete_tag(item)" ng-if="$index > 0" class="btn btn-box-tool" style="margin: 0px;padding:0px;float:right;" ><i class="fa fa-times"></i></span>
        <span class="label label-danger" data-ng-show="submitted && inserirItem.tipologia_input.$error.required">Obrigatório!</span>
        <select class="form-control" id="tipologia_input" ng-model="tag.id_tag" name="tipologia_input" ng-options="tag.id as tag.nome for tag in tags">
          <option value="">Tag</option>
        </select>
      </div> -->
    </div>    

    <div style='clear:left'>&nbsp;</div>
    
    <div class="form-group col-sm-6 col-xs-12">
      <!--<input type="submit" class="form-control btn-primary" id="submit_button" ng-click="submit(inserirDestaque)" value="Inserir"/>-->
      <button type="submit" class="col-xs-12 btn btn-primary button raised" data-loading-text="Guardando..." id="submit_button" ng-click="submit_edit(inserirItem)"><i class="fa  fa-floppy-o"></i> Guardar</button>
    </div>
    
     
  </form>
  <div class="form-group col-sm-6 col-xs-12">
      <!--<input type="submit" class="form-control btn-primary" id="submit_button" ng-click="submit(inserirDestaque)" value="Inserir"/>-->
      <a ng-href="#/{{area_selected}}/listar"><button class="col-xs-12 btn btn-primary button raised" id="voltar_button" ><i class="fa  fa-arrow-circle-left"></i> Voltar</button></a>
    </div>
  
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Upload Imagem</h4>
      </div>
      <div class="modal-body" >
        <div ng-repeat="item in uploader.queue | filter:{alias:'image'} | orderBy:'id':false" style='width:100%;'>
        <div ng-show="uploader.isHTML5" ng-thumb="{ file: item.file, height: 100 }" class=""></div> 
        <!-- <div class="progress progress-striped active"  style="margin-bottom: 0;">
          <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
            </div> -->
            <p>Imagem {{item.id+1}}</p>
            <div class="modal-footer">
           <button type="button" id="voltarescolher" class="btn btn-default" ng-click="click_upload('file'+$index)" data-dismiss="modal">Voltar a escolher</button> 
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="guardar_imagem" data-loading-text="Guardando..." data-dismiss="modal" class="btn btn-primary">Guardar Imagem</button>
      </div>
      </div>
      
    </div>
  </div>
</div>
         
        