<div class="col-xs-12" style="padding: 0px">
  <section class="content-header">
    <h1>
      {{area_selected_titulo}}
      <small>Inserir</small>
    </h1>
  </section>
  <br />
  
  <div class="col-lg-12">
    <div class="alert alert-danger alert-dismissable" ng-show="erro_form">
      <button type="button" class="close" ng-click="erro_form=!erro_form">&times;</button>
      <strong>{{area_selected_titulo}}:</strong> erro ao inserir! tente mais tarde!
    </div>  
  </div>
  
  <form id="inserirItem"  name="inserirItem" ng-init="init(area_selected_flag,0,0,0,0,area_selected_mode)" novalidate>
    
    <div class="form-group col-xs-12 col-sm-6 col-lg-4" ng-repeat="lang in new_item.idiomas">
      <label for="titulo_input_{{lang.sigla}}">Nome {{lang.nome_idioma}}</label>
      <span class="label label-danger" data-ng-show="submitted && (lang.titulo == '' || !lang.titulo)">Obrigatório!</span>
      <input type="text" class="form-control" id="titulo_input_{{lang.sigla}}" required ng-model="lang.titulo" name="titulo_input_{{lang.sigla}}" placeholder="Nome em {{lang.nome_idioma}}">
    </div>

    


    <div style='clear:left'>&nbsp;</div>
    
    <div class="form-group col-sm-6 col-xs-12">
      <!--<input type="submit" class="form-control btn-primary" id="submit_button" ng-click="submit(inserirDestaque)" value="Inserir"/>-->
      <button type="submit" class="col-xs-12 btn btn-primary button raised" data-loading-text="Guardando..." id="submit_button" ng-click="submit_edit(inserirItem)"><i class="fa  fa-floppy-o"></i> Guardar</button>
    </div>
    
     
  </form>
  <div class="form-group col-sm-6 col-xs-12">
      <!--<input type="submit" class="form-control btn-primary" id="submit_button" ng-click="submit(inserirDestaque)" value="Inserir"/>-->
      <a ng-href="#/{{area_selected}}/listar"><button class="col-xs-12 btn btn-primary button raised" id="voltar_button" ><i class="fa  fa-arrow-circle-left"></i> Voltar</button></a>
    </div>
  
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Upload Imagem</h4>
      </div>
      <div class="modal-body" >
        <div ng-repeat="item in uploader.queue | filter:{alias:'image'} | orderBy:'id':false" style='width:100%;'>
        <div ng-show="uploader.isHTML5" ng-thumb="{ file: item.file, height: 100 }" class=""></div> 
        <!-- <div class="progress progress-striped active"  style="margin-bottom: 0;">
          <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
            </div> -->
            <p>Imagem {{item.id+1}}</p>
            <div class="modal-footer">
           <button type="button" id="voltarescolher" class="btn btn-default" ng-click="click_upload('file'+$index)" data-dismiss="modal">Voltar a escolher</button> 
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="guardar_imagem" data-loading-text="Guardando..." data-dismiss="modal" class="btn btn-primary">Guardar Imagem</button>
      </div>
      </div>
      
    </div>
  </div>
</div>
         
        