.pd0{
	padding: 0px;
}

.padding_fotos{
	padding-top: 5px;
	padding-bottom: 5px;
}

a .padding_fotos:nth-child(odd){
	padding-left: 10px;
	padding-right: 5px;
}

a .padding_fotos:nth-child(even){
	padding-left: 5px;
	padding-right: 10px;
}

.titulo_galeria{
	font-family: 'azo_sanslight';
	font-size: 25px;
	text-transform: uppercase;
	padding-top: 30px;

}

.anterior{
	display: flex;
	align-items: center;
	flex-direction: row;
	font-family: 'azo_sanslight';
	font-size: 14px;
	color:#000000;
	justify-content: flex-start;

}
.anterior div , .seguinte div{
	padding: 0px 5px;
}

.seguinte{
	display: flex;
	align-items: center;
	flex-direction: row;
	font-family: 'azo_sanslight';
	font-size: 14px;
	color:#000000;
	justify-content: flex-end;
}

.holder_botoes_paginacao{
	padding-top: 15px;
	padding-bottom: 30px;
}

.holder_foto_unica{
	padding-top: 60px;
}

a .holder_voltar{
	font-family: 'azo_sanslight';
    font-size: 20px;
    color:#000000;
}

.holder_voltar{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-top: 15px;
}

.holder_voltar div:nth-child(2){
    padding-left: 15px;
    font-family: 'azo_sanslight';
    font-size: 20px;
}

.botao_download{
	
	padding-bottom: 20px;
}