/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*font*/
@font-face {
    font-family: 'azo_sansbold';
    src: url('../fonts/rui_abreu_-_azosans-bold-webfont.eot');
    src: url('../fonts/rui_abreu_-_azosans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rui_abreu_-_azosans-bold-webfont.woff2') format('woff2'),
         url('../fonts/rui_abreu_-_azosans-bold-webfont.woff') format('woff'),
         url('../fonts/rui_abreu_-_azosans-bold-webfont.ttf') format('truetype'),
         url('../fonts/rui_abreu_-_azosans-bold-webfont.svg#azo_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'azo_sanslight';
    src: url('../fonts/rui_abreu_-_azosans-light-webfont.eot');
    src: url('../fonts/rui_abreu_-_azosans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rui_abreu_-_azosans-light-webfont.woff2') format('woff2'),
         url('../fonts/rui_abreu_-_azosans-light-webfont.woff') format('woff'),
         url('../fonts/rui_abreu_-_azosans-light-webfont.ttf') format('truetype'),
         url('../fonts/rui_abreu_-_azosans-light-webfont.svg#azo_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'azo_sansmedium';
    src: url('../fonts/rui_abreu_-_azosans-medium-webfont.eot');
    src: url('../fonts/rui_abreu_-_azosans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rui_abreu_-_azosans-medium-webfont.woff2') format('woff2'),
         url('../fonts/rui_abreu_-_azosans-medium-webfont.woff') format('woff'),
         url('../fonts/rui_abreu_-_azosans-medium-webfont.ttf') format('truetype'),
         url('../fonts/rui_abreu_-_azosans-medium-webfont.svg#azo_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'azo_sansregular';
    src: url('../fonts/rui_abreu_-_azosans-regular-webfont.eot');
    src: url('../fonts/rui_abreu_-_azosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rui_abreu_-_azosans-regular-webfont.woff2') format('woff2'),
         url('../fonts/rui_abreu_-_azosans-regular-webfont.woff') format('woff'),
         url('../fonts/rui_abreu_-_azosans-regular-webfont.ttf') format('truetype'),
         url('../fonts/rui_abreu_-_azosans-regular-webfont.svg#azo_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'azo_sansthin';
    src: url('../fonts/rui_abreu_-_azosans-thin-webfont.eot');
    src: url('../fonts/rui_abreu_-_azosans-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rui_abreu_-_azosans-thin-webfont.woff2') format('woff2'),
         url('../fonts/rui_abreu_-_azosans-thin-webfont.woff') format('woff'),
         url('../fonts/rui_abreu_-_azosans-thin-webfont.ttf') format('truetype'),
         url('../fonts/rui_abreu_-_azosans-thin-webfont.svg#azo_sansthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

* { box-sizing: border-box; }

/*body{*/
    /*background-image: url('../img/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-color: #FFFFFF;*/
/*}*/

body{
    -webkit-overflow-scrolling: touch !important;
}
div{
	-webkit-overflow-scrolling: touch !important;
}

p{
    margin: 0px;
    padding: 0px;
}
.pd0{
    padding: 0px;
}

/*HOME*/

.background{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../img/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-color: #FFFFFF;
}


.logo_data{
    position: fixed;
    top: 100px;
    right: 100px;
    width: 128px;
}

.logo_holder{
    position: absolute;
    float: left;
    width: 173px;
    top:100px;
    left:100px;
    z-index: 100;
}

.login_holder{
    position: absolute;
    float:left;
    width: 380px;
    top:40%;
    left:100px;
}

.title{
    font-family: 'azo_sanslight';
    font-size: 40px;
}

.red{
    color: #E02428 !important;
}

.text{
    font-family: 'azo_sansregular';
    font-size: 16px;
    text-transform: none !important;
}
.black{
    color: #000000 !important;
}

.form_holder{
    position: relative;
    float: left;
    margin-top: 20px;
}

.form_holder input{
    background: #F2F2F2;
    border-radius: 20px;
    border: none;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'azo_sansregular';
    font-size: 16px;
}

.form_holder select{
    background: #F2F2F2;
    border-radius: 20px;
    border: none;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'azo_sansregular';
    font-size: 16px;
}

.form_holder input[type=radio]{
    width: auto;
    height: auto;
}
.form_holder input[type=checkbox]{
    width: auto;
    height: auto;
}

.form_holder label{
    font-family: 'azo_sansbold';
      color: #E02428 !important;

}



.form_holder ul{
  list-style: none;
  
  margin: 0;
  padding: 0;
}


ul li{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 40px;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}
ul li input[type=checkbox]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  float: left;
  padding-top: 2px;
  padding-left: 35px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}



ul li .check{
  display: block;
  position: absolute;
  float: left;
  background: #E6E6E6;
  border-radius: 100%;
  height: 24px;
  width: 24px;
  margin-right: 20px;
  top: 0px;
  left: 0px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}


ul li .check::before {
  display: block;
  position: absolute;
  top:5px;
  left: 5px;
    content: '';
  border-radius: 100%;
  height: 14px;
  width: 14px;
  margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check::before{
  background: #E02428;
}
input[type=checkbox]:checked ~ .check::before{
  background: #E02428;
}

ul li input[type=text]{
    width: 420px;
    margin-left:20px;
    margin-top:-10px;
}

.logo_footer{
    position: fixed;
    bottom: 80px;
    width: 110px;
    /*padding: 20px;*/
    right: 109px;
}

.logo_footer img{
    position: relative;
}

.button{
    position: relative;
    float: left;
    background: #000000 !important;
    padding: 5px 20px;
    border-radius: 40px;
    margin-top: 25px;
    cursor: pointer;
}

.button.submit_class{
    border: none;
    color: #FFFFFF;
    font-family: 'azo_sansmedium';
    font-size: 20px;
}

.button p,.button span{
    color: #FFFFFF;
    font-family: 'azo_sansmedium';
    font-size: 20px;
}

.button:hover{
    background: #282828;
}

.senha_index{
    padding-top: 20px;
}


/*FIM HOME*/





/*SEGUNDO PASSO*/

.holder_segundo_direita{
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: auto;
    background: #EEEEEE;
}

.fundocinza{
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  position: absolute;
  width: 50%;
  left: 50%;
  top:0px;
}

.mesas{
  position: absolute;
  top: 0px;
  right: 0px;
}

.holder_segundo_esquerda{
    padding: 100px;
    position: absolute;
    height: 100%;
    overflow: auto;
}
.holder_quarto_esquerda{
    /*padding-left: 50px;*/
    position: relative;
    height: auto;
}


.holder_segundo_nome{
    margin-top: 60px;
    font-family: 'azo_sansregular';
    font-size: 30px;
    text-transform: uppercase;
}

.holder_quarto_nome{
    padding-top: 60px;
    font-family: 'azo_sansregular';
    font-size: 24px;
    padding-left: 0px;
}

.segundo_nome_caro{
    font-size: 14px;
}

.titulo_segundo_mesa{
    margin-top: 50px;
    font-family: 'azo_sansbold';
    font-size: 16px;
    float: left;
    width: 100%;
    position: relative;
}

.passo_segundo_mesa{
    padding-top: 15px;
    font-family: 'azo_sansbold';
    font-size: 16px;
}


.passo_segundo_mesa2{
    font-family: 'azo_sansbold';
    font-size: 16px;
}

.frase_segundo{
    padding-top: 15px;
    font-family: 'azo_sansbold';
    font-size: 16px;
}
.frase_baixo_segundo{
    font-family: 'azo_sansbold';
    font-size: 20px;
}

.logo_baixo_segundo{
    margin-top:100px;
    text-align: right;
}
/*FIM SEGUNDO PASSO*/


/*TERCEIRO PASSO*/

.holder_terceiro_nome{
    padding-top: 30px;
    font-family: 'azo_sansregular';
    font-size: 16px;
}

.terceiro_nome_caro{
    font-family: 'azo_sansregular';
}
.terceiro_mesa{
    font-family: 'azo_sansregular';
    font-size: 30px;
}
.terceiro_capacidade{
    font-family: 'azo_sansbold';
}

.holder_terceiro_imagem{
    padding-top: 20px;
    padding-bottom: 20px;
}
.numero_mesa_terceiro{
    position: absolute;
    font-family: 'azo_sansmedium';
    color:white;
    font-size:34px;
    top:50%;
    margin-top: -24px;
    width: 20%;
    left:40%;
}




/*FIM TERCEIRO PASSO*/




/*QUARTO PASSO*/
.hidden_load{
    display: none;
}
.hidden_load_o{
    display: block !important;
}
.item_convidado{
    cursor: pointer;
}

.item_odd{
    background: #FFFFFF;
}
.item_even{
    background: #F7F7F7;
}
.item_convidado:hover{
    background: #EEEEEE;
}
.holder_quarto_direita{
    height: 100vh;
    background-color: white;
    position: fixed;
    top:0px;
    right: 0px;
    overflow: auto;
}

/*tr:nth-child(odd) {
    background-color: #f7f7f7;
}*/

.table>tbody>tr>td {
   border:none;
}
.table>tbody>tr>th{
  border:none;
}
.nome_tabela{
  font-family: 'azo_sansmedium';
  font-size: 14px;
}

.email_tabela{
  font-family: 'azo_sansregular';
  font-size: 13px;
}
.empresa_tabela{
  font-family: 'azo_sansregular';
  font-size: 13px;
  text-transform: uppercase;
}
.titulo_tabela{
  font-family: 'azo_sansmedium';
  font-size: 10px;
  text-transform: uppercase;
}
.pessoa_tabela{
  background-color:#E02428;text-align: center;width: 60px
}
.pessoa_adicionada{
  background-color:#b3b3b3;text-align: center;width: 60px
}

.pesquisa_quartopasso{
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  font-family: 'azo_sansregular';
  font-size: 30px;
  color:#424143;
}

.titulo_pesquisa_quartopasso{
  color:#1a1a1a;
  font-family: 'azo_sansregular';
  font-size: 11px;
  padding-bottom: 10px;
}

.campo_livre{
  position: relative;
  width: 50%;
  float: left;
  margin-left: 25%;
}
.botao_pesquisar{
  width: 25%;
  position: relative;
  float: left;
}
.largura_titulo_pesquisa{
  position: relative;
  float: left;
  width: 25%;
}
.largura_titulo_pesquisa_lupa{
position: relative;
  float: left;
  width: 20%;
  text-align: center;
}

.pesquisa input,.pesquisa select{
  background-color: #f2f2f2;
  border-radius: 10px;
  border:none;
  width: 100%;
}
.pesquisa select{
width: 100%;
height: 20px;
border-radius: 10px;
}

.holder_pesquisa{
  /*display: flex;
  align-items: center;*/
  padding-bottom: 30px;
}

.holder_popup_pessoa{
  background-color: #f2f2f2;
  height: 200px;
  position: absolute;
  bottom: 0px;
}

.holder_submeter_mesa{
    background: #E02227;
}

.texto_acidionar_pessoa{
  color:#424143;
  font-size: 16px;
  font-family: 'azo_sansbold';
  padding-top: 30px;
}

.botoes_adicionar_pessoa{
  display: flex;
  justify-content: space-around;
}



.nomepessoa{
  background-color: #e6e6e6;
  border-radius: 15px;
  padding: 5px  10px;
  font-family: 'azo_sansmedium';
  font-size: 12px;
}

.fechar_pessoa{
  margin-right: -8px;
  z-index: 2;
}

/*.cadeira{
    
}*/
.cadeira_pointer{
    cursor:pointer;
}
.button_cadeira{
    transform-origin: 50% 50%;
    transform: scale(1);
    transition: transform linear 0.2s;
}
.cadeira_pointer:hover .button_cadeira{
    transform-origin: 50% 50%;
    transform: scale(1.2);
}

.cadeira .nome_cadeira{
    display: none;
}

.erase_nome_cadeira{
    cursor: pointer;
    transform-origin: 50% 50%;
    transform: scale(1);
    transition: transform linear 0.2s;
}
.erase_nome_cadeira:hover{
    transform-origin: 50% 50%;
    transform: scale(1.2);
}
.cadeira_sel .nome_cadeira{
    display: block;
}
.cadeira_sel .cor1{
  fill:#C1272D;
}
.cadeira_sel .cor2{
  fill:#E02227;
}

.cadeira_sel .button_cadeira{
  display: none;
}

.cadeira_sel .nome_cadeira .fundo_nome_cadeira{
    fill: #E02227;
}

.cadeira_sel .nome_cadeira .text_nome_cadeira{
    fill: #FFFFFF;
}

.cadeira_sel .nome_cadeira .circulo_nome_cadeira{
    fill: #FFFFFF;
}
.cadeira_sel .nome_cadeira .erase_nome_cadeira{
    display: none;
}
.cadeira_fechado .nome_cadeira{
    display: block;
}
.cadeira_fechado .cor1{
  fill:#E5E5E5;
}
.cadeira_fechado .cor2{
  fill:#F3F3F3;
}

.cadeira_fechado .button_cadeira{
  display: none;
}
.cadeira_fechado .nome_cadeira .fundo_nome_cadeira{
    fill: #E6E6E6;
}
.cadeira_fechado .nome_cadeira .text_nome_cadeira{
    fill: #4D4D4D;
}

.cadeira_fechado .nome_cadeira .circulo_nome_cadeira{
    fill: #4D4D4D;
}
.cadeira_fechado .nome_cadeira .erase_nome_cadeira{
    display: block;
}


/*.cadeira_sel{
 opacity: 1;
}

.cadeira_opac{
 opacity: 0;
}

.cadeirasel .cor1{
  fill:#C1272D;
}

.cadeirasel .cor2{
  fill:#E02227;
}

.cadeirasel .button_cadeira{
  display: none;
}*/

/*FIM QUARTO PASSO*/


/*PLANTA MESAS*/
.holder_planta{
    position: relative;
    float:left;
    width:1509px;
    padding: 60px;
    padding-left: 80px;
    background: #EEEEEE;
}
.holder_slots{
    position: relative;
    float: right;
}

.coluna_slots{
    position:relative;
    float: right;
    width:300px;
    margin: 0px 5px;
}

.coluna_slot_tipo2{
    width: 300px;
}

.coluna_slot_tipo3{
    width:350px;
}

.holder_mesas{
    position: relative;
    float: right;
    margin-bottom: 20px;
}

.title_holder_mesas{
    position: absolute;
    width: 100%;
    text-align: center;
    font:22px 'azo_sansmedium';
    color:#EE2A2B;
}

#slot1 .title_holder_mesas{
    top: -35px;
}

#slot2 .title_holder_mesas{
    top: 50%;
    left: 100%;
    width: 100px;
    text-align: left;
    margin-left: 10px;
    margin-top:-11px;
}

#slot3 .title_holder_mesas{
    top: 100%;
    width: 100%;
    left:0px;
    margin-top:10px;
}

#slot4{
    margin-top: 42px;
}
#slot4 .title_holder_mesas{
    top: -35px;
}
#slot5 .title_holder_mesas{
    top: 100%;
    width: 100%;
    left:0px;
    margin-top:10px;
}

#slot5{
    margin-top: 2px;
}

#slot6 .title_holder_mesas{
    top: -35px;
}

#slot7 .title_holder_mesas{
    top: 50%;
    right: 100%;
    width: 100px;
    text-align: right;
    margin-right: -20px;
    margin-top:-11px;
}

#slot8 .title_holder_mesas{
    top: 100%;
    width: 100%;
    left:0px;
    margin-top:10px;
}

.holder_mesas_img{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.holder_mesas img{
    height: 252px;
}

.holder_coluna_mesas{
    position: relative;
    float: right;
    width: 50px;
}

.mesa_holder{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 1px 5px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform 0.1s linear;
    -moz-transition: transform 0.1s linear;
    -ms-transition: transform 0.1s linear;
    -o-transition: transform 0.1s linear;
    transition: transform 0.1s linear;
}

.mesa_holder:hover{
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
    z-index: 2;
}

.mesa_holder_sel{
    cursor: default;
    background: none !important;
}

.mesa_holder_sel:hover{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.mesa_taken{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left:0px;
    background: #CCCCCC url('../img/sel_cruz.png') no-repeat center center;
    border-radius: 100%;
    display: none;
}

.mesa_holder_check_sel{
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
    z-index: 2;
}

.mesa_holder_sel .mesa_taken{
    display: block;
}

.red_table{
    background: #EE2A2B;
}

.red_table .number_table{
    color:#FFFFFF;
    font:15px 'azo_sansmedium';
}

.white_table{
    background: #FFFFFF;
}
.white_table .number_table{
    color:#EE2A2B;
    font:15px 'azo_sansmedium';
}

.holder_cocktail{
    position: relative;
    float: right;
    margin-left: 100px;
}
.holder_cocktail img{
    height: 816px;
}

@media only screen and (max-width: 1465px) {
   .logo_holder{
        top:50px;
        left:50px;
    }

    .logo_data{
        top: 50px;
        right: 50px;
    }

    .login_holder{
        left:50px;
    }

    .logo_footer{
        right:40px;
        bottom: 40px;
    }

     .holder_quarto_direita{
      position: relative;
    }

    .holder_segundo_esquerda{
        padding: 50px;
    }

    /*Planta*/
    .holder_planta{
        width:1090px;
        padding: 30px;
        padding-left:50px;
    }

    .coluna_slots{
        width:216px;
        margin: 0px 7px;
    }

    .coluna_slot_tipo2{
        width: 216px;
    }

    .coluna_slot_tipo3{
        width:252px;
    }

    .holder_mesas{
        margin-bottom: 20px;
    }

    .title_holder_mesas{
        font:16px 'azo_sansmedium';
    }

    #slot1 .title_holder_mesas{
        top: -20px;
    }

    #slot2 .title_holder_mesas{
        width: 50px;
        margin-left: 5px;
        margin-top:-8px;
    }

    #slot3 .title_holder_mesas{
        margin-top:5px;
    }

    #slot4{
        margin-top: 32px;
    }
    #slot4 .title_holder_mesas{
        top: -20px;
    }
    #slot5 .title_holder_mesas{
        margin-top:5px;
    }

    #slot5{
        margin-top: 2px;
    }

    #slot6 .title_holder_mesas{
        top: -20px;
    }

    #slot7 .title_holder_mesas{
        margin-right: -20px;
        margin-top:-8px;
    }

    #slot8 .title_holder_mesas{
        margin-top:5px;
    }

    .holder_mesas img{
        height: 192px;
    }

    .holder_coluna_mesas{
        position: relative;
        float: right;
        width: 36px;
    }

    .mesa_holder{
        width: 30px;
        height: 30px;
        margin: 1px 3px;
    }

    .red_table .number_table{
        font:11px 'azo_sansmedium';
    }

    .white_table .number_table{
        font:13px 'azo_sansmedium';
    }

    .holder_cocktail{
        margin-left: 50px;
    }

    .holder_cocktail img{
        height: 636px;
    }
}

@media only screen and (max-width: 992px) {
    .background{
        display: none;
    }
    .holder_segundo_esquerda{
        padding: 25px;
        height: auto;
        position: relative;
    }
    .holder_segundo_direita{
      position: relative;
    }

    .fundocinza{
        display: none;
    }

    .holder_popup_pessoa{
        position: relative;
        width: 100%;
    }
}
@media only screen and (max-width: 770px) {

    .holder_pesquisa{
      flex-direction: column;
    }
    .largura_titulo_pesquisa{
      width: 100%;
      padding-top: 10px;
    }

    .campo_livre{
      width: 100%;
      margin-left: 0px;
    }

    .botao_pesquisar{
      padding-bottom: 20px;
    }
    .background{
        display: none;
    }

    .logo_data{
        display: none;
    }

    .logo_holder{
        position:relative;
        float: left;
        top:0px;
        left: 0px;
        margin-top:25px;
        margin-left: 25px;
        clear: left;
    }

    .login_holder{
        position: relative;
        float: left;
        width: 100%;
        padding-left:25px;
        padding-right: 25px;
        top: 0px;
        left: 0px;
        margin-top: 100px;
    }

    .button{
        width: 100%;
        text-align: center;
        padding: 5px 0px;
    }

    .logo_footer{
        display: none;
    }

    .holder_segundo_direita{
      position: relative;
    }
    .holder_quarto_direita{
      position: relative;
    }

    #sim_mesa{
        width: 40%;
    }
    #nao_mesa{
        width: 40%;
    }

}


@media screen and (orientation:portrait) {
    .background{
        background-position: 80% 0%;
    }
    .logo_footer{
        bottom:250px !important;
    }
}

@media screen and (max-height: 800px) {
    .holder_popup_pessoa{
        height: 100px;
    }

    .texto_acidionar_pessoa{
        font-size: 13px;
        padding-top: 10px;
    }

    .botoes_adicionar_pessoa .button{
        margin-top:5px;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
