<div class="col-xs-12" style="padding:0px; height: 150px;">
	
	<div class="col-xs-12 menu_holder">
		<div class="logo_holder">
			<img src="img/logo_novo.png" alt="Pensar Maior" height="100%" />
		</div>

	
		<a ng-href="fotos" ng-if="area_sel == 'blog'">
			<div class="galeria " >
				<div class="button submit_class">
					GALERIA
				</div>
			</div>
		</a>
		
		<a ng-href="blog" ng-if="area_sel == 'galeria'">
			<div class="blog galeria" >
				<div class="button submit_class">
					BLOG
				</div>
			</div>
		</a>
	</div>
</div>
