<div class="col-xs-12"  style="padding:0px;overflow:hidden">
	<section class="content-header">
		<h1>
			Dashboard
			<small>5 Thousand Miles</small>
		</h1>
	</section>
	<br />

	<div style="clear:left"></div>
	
	<div class="col-lg-12">
		<div class="alert alert-success alert-dismissable" ng-show="sucess_form==true">
			<button type="button" class="close" ng-click="changeFlag()">&times;</button>
			<strong>Dados Utilizador:</strong> operação feita com sucesso!
		</div>	
	</div>

	

	<div class="col-xs-12 col-sm-6 col-md-4" >   
		<div class="box box-success">
		 <div class="box-header">
		   <i class="fa fa-user"></i>
		   <h3 class="box-title">Dados Utilizador</h3>
		 </div><!-- /.box-header -->
		 <div class="box-body">
		   <h4>Nome: <small>{{user_array.nome_user}}</small></h4>
			<h4>Email: <small>{{user_array.email_user}}</small></h4>
			<h4>Último Acesso: <small>{{user_array.last_login}}</small></h4>
		 </div><!-- /.box-body -->
		</div><!-- /.box -->
	</div>

	<div style="clear:left;"></div>
	
   <div class="col-lg-3 col-sm-6 col-xs-12" ng-repeat="area in areas_stats">   
		<div class="box box-primary">
		 <div class="box-header">
		   <i class="fa fa-th"></i>
		   <h3 class="box-title">{{area.nome}}</h3>
		 </div><!-- /.box-header -->
		 <div class="box-body">
		   <b>Total items:</b> {{area.total_items}}<br />
			<b>Total items activos:</b> {{area.total_items_active}}
		 </div><!-- /.box-body -->
		 <div class="box-footer clearfix no-border">
		   <a ng-href="#/{{area.url}}/listar" class="small-box-footer">Mais info <i class="fa fa-arrow-circle-right"></i></a>
		 </div>
		</div><!-- /.box -->
	</div>
		 


	<div style="clear:left"></div>
</div>


		   <!-- <div class="col-xs-10 col-xs-offset-1"> -->
		   	
		   <!-- </div> -->



<div ng-show="loading==1" style="position: fixed; top: 0px; left: 0px;width: 100%;height: 100%;background: #666666;opacity: 0.5;z-index: 2000"></div>
<div ng-show="loading==1" style="background: #FFFFFF;padding: 10px;position: fixed;z-index: 2001;left:50%;margin-left: -25px;top: 50%;margin-top: -25px;border-radius: 5px">
	<img src="img/ajax-loader.gif"/>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Apagar</h4>
			</div>
			<div class="modal-body">
				<p>Tem a certeza que deseja apagar!</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="button raised btn btn-primary" ng-click="remove(item_remove)" data-dismiss="modal" data-loading-text="Apagando...">Sim<paper-ripple fit></paper-ripple></button> 
				<button type="button" ng-click="remove_voltar()" class="button raised btn btn-default">Não<paper-ripple fit></paper-ripple></button>
			</div>

		</div>
	</div>
</div>


         
        