<div class="col-xs-12" style="padding: 0px">
  <section class="content-header">
    <h1>
      Dados Utilizador
      <small>Editar</small>
    </h1>
  </section>
  <br />
  
  <div class="col-lg-12">
    <div class="alert alert-danger alert-dismissable" ng-show="erro_form">
      <button type="button" class="close" ng-click="erro_form=!erro_form">&times;</button>
      <strong>{{area_selected_titulo}}:</strong> erro ao editar! tente mais tarde!
    </div>  
  </div>

	<form id="inserirItem"  name="inserirItem" ng-init="init(area_selected_flag,0,0,0,0,area_selected_mode)" novalidate>
		
		<div class="form-group col-xs-12 col-sm-6 col-lg-4">
			<label for="titulo_input">Nome</label>
			<span class="label label-danger" data-ng-show="submitted && inserirItem.nome_input.$error.required">Obrigatório!</span>
			<input type="text" class="form-control" required id="nome_input" ng-model="user_array.nome_user" name="nome_input" placeholder="Nome">
		</div>

		<div class="form-group col-xs-12 col-sm-6 col-lg-4">
			<label for="titulo_input">Email</label>
			<span class="label label-danger" data-ng-show="submitted && inserirItem.email_input.$error.required">Obrigatório!</span>
			<span class="label label-danger" data-ng-show="submitted && inserirItem.email_input.$error.emailregisto">{{emailError}}</span>
			<input type="text" class="form-control" required emailregisto email_origin="email_origin" id="email_input" ng-model="user_array.email_user" name="email_input" placeholder="Email">
		</div>
		<div class="form-group col-xs-12 col-sm-6 col-lg-4">
			<label for="titulo_input">Username</label>
			<span class="label label-danger" data-ng-show="submitted && inserirItem.username_input.$error.required">Obrigatório!</span>
			<span class="label label-danger" data-ng-show="submitted && inserirItem.username_input.$error.username">{{userError}}</span>
			<input type="text" class="form-control" required username id="username_input" ng-model="user_array.username_user" name="username_input" placeholder="Username">
		</div>
		<div class="form-group col-xs-12 col-sm-6 col-lg-4">
			<label for="titulo_input">Password Actual</label>
			<span class="label label-danger"  data-ng-show="submitted && inserirItem.pass_act_input.$error.required">Obrigatório!</span>
			<span class="label label-danger"  data-ng-show="flag_pass==1">Password Errada!</span>
			<input type="password" required class="form-control" id="pass_act_input" ng-model="user_array.password_act" name="pass_act_input" placeholder="Password">
		</div>
		<div class="form-group col-xs-12 col-sm-6 col-lg-4">
			<label for="titulo_input">Nova Password</label>
			<span class="label label-danger" data-ng-show="submitted && (user_array.password.length < 6 && user_array.password.length > 0)">No minimo 6 caractéres!</span>
			<input type="password" class="form-control" id="pass_input" ng-model="user_array.password" name="pass_input" placeholder="Password">
		</div>
		<div class="form-group col-xs-12 col-sm-6 col-lg-4">
			<label for="titulo_input">Confirme Nova Password</label>
			<span class="label label-danger" data-ng-show="submitted && (user_array.password2 != user_array.password)">As passwords não coincidem!</span>
			<input type="password" class="form-control" id="conf_pass_input" ng-model="user_array.password2" name="conf_pass_input" placeholder="Password">
		</div>

		<div class="form-group col-sm-6 col-xs-12">
			<!--<input type="submit" class="form-control btn-primary" id="submit_button" ng-click="submit(inserirDestaque)" value="Inserir"/>-->
			<button type="submit" class="col-xs-12 btn btn-primary button raised" data-loading-text="Guardando..." id="submit_button" ng-click="submit_reg(inserirItem)"><i class="fa  fa-floppy-o"></i> Guardar</button>
		</div>

	</form>
	<div class="form-group col-sm-6 col-xs-12">
			<!--<input type="submit" class="form-control btn-primary" id="submit_button" ng-click="submit(inserirDestaque)" value="Inserir"/>-->
			<a ng-href="#/stats"><button class="col-xs-12 btn btn-primary button raised" id="voltar_button" ><i class="fa  fa-arrow-circle-left"></i> Voltar</button></a>
		</div>
	
	
	
</div>

<div ng-show="loading==1" style="position: fixed; top: 0px; left: 0px;width: 100%;height: 100%;background: #666666;opacity: 0.5;z-index: 2000"></div>
<div ng-show="loading==1" style="background: #FFFFFF;padding: 10px;position: fixed;z-index: 2001;left:50%;margin-left: -25px;top: 50%;margin-top: -25px;border-radius: 5px">
	<img src="img/ajax-loader.gif"/>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Apagar</h4>
			</div>
			<div class="modal-body">
				<p>Tem a certeza que deseja apagar!</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="button raised btn btn-primary" ng-click="remove(item_remove)" data-dismiss="modal" data-loading-text="Apagando...">Sim<paper-ripple fit></paper-ripple></button> 
				<button type="button" ng-click="remove_voltar()" class="button raised btn btn-default">Não<paper-ripple fit></paper-ripple></button>
			</div>

		</div>
	</div>
</div>


         
        